[2015-09-06 15:10] fb39ca4 opened #1 "Support for Pointer Events?"
This will make it compatible with IE/Edge.

[2015-09-06 16:49] yoannmoinet commented on #1
:+1: this is definetely a must have.
will do soon.

[2015-09-06 21:19] yoannmoinet opened #2 "Multitouch bug."
When two simultaneous touches in the zone, then a third outside of the zone. [reddit](https://www.reddit.com/r/javascript/comments/3ju24d/a_virtual_joystick_for_touch_capable_interfaces/cusszwz)

[2015-09-06 21:25] yoannmoinet opened #3 "Align 0 degrees and radians on the right in the unit circle"
As stated [here](https://www.reddit.com/r/programming/comments/3jumke/nipplejs_a_virtual_joystick_for_touch_capable/cuso6fo) and shown here
![degree-radian_conversion-svg](https://cloud.githubusercontent.com/assets/597828/9706705/2ebf88dc-54bc-11e5-99f7-2a6e2b7a9926.png)

[2015-09-06 22:50] yoannmoinet commented on #3
fixed in v0.3.0

[2015-09-06 22:50] #3 closed

[2015-09-06 22:50] yoannmoinet commented on #1
fixed in v0.3.0

[2015-09-06 22:50] #1 closed

[2015-09-08 22:30] indus opened #5 "custom domain"
If you are interested in an additional custom domain for free (e.g. ***nipple.js.org***) check out [dns.js.org](https://dns.js.org)

[2015-09-09 00:25] yoannmoinet commented on #5
Thanks. I'll think about it.

[2015-09-09 00:25] #5 closed

[2015-09-09 16:58] JSteunou opened #6 "How to delicately remove the nipple?"
First, kudos for this tool!

I have a need to create 2 nipples, on the same el, the second after shutting down the first, with some other parameters. Or maybe there is a way to change a nipple size after initialisation?

[2015-09-09 17:45] yoannmoinet commented on #6
Thanks a lot !

I'm not sure to understand your setup.

You have an element, on which you'd like to instantiate 2 nipples.

Each one activated via multitouch I guess? 1 finger, 1 nipple. (:smile: this name makes some funny conversation...)

If you need to create 2 nipples on the same element, maybe you could create two zones inside this element, and then create one nipple on each zone?

Be aware t

[2015-09-10 00:15] yoannmoinet opened #7 "Allow having a permanently shown (faded out) joystick"
If the user releases the joystick, we should be able to have a persistent joystick shown.
Instead of having it disappeared each time.

- faded element when released and full opacity when pressed.
- the tip should go back to its initial position when released.
- when re-pressed in the joystick's zone, directly move the tip and let the back at its position.

[2015-09-10 00:16] yoannmoinet opened #8 "Allow having an invisible (data driven only) joystick"
If needed we should be able to have only the data coming back and no interface.

[2015-09-10 00:18] yoannmoinet opened #9 "Allow having custom elements for the joystick"
If needed the developer should be able to assign himself his elements to the joystick.
And provides some kind of template for it.

[2015-09-10 07:29] JSteunou commented on #6
That's not my issue sorry I did not explain it very well.

I have 2 needs, both I though could be resolved by destroying the instance.

1/ I create a nipple instance on an element but after a certain user action I need to remove that instance. Totally. Forever.
2/ On another case, totally different from the 1st, I create a nipple instance but after a certain event I need to increase it's size. Whi

[2015-09-10 13:25] yoannmoinet commented on #6
Ok, that's a fair point.
I'll push this into the milestone and find a way to deal with this.

Instances will be more explicit and controllable.

[2015-09-10 15:22] JSteunou commented on #6
Thank you :)

[2015-09-10 20:07] yoannmoinet opened #10 "Add support for Force Touch Events"
https://developer.apple.com/library/prerelease/mac/documentation/AppleApplications/Conceptual/SafariJSProgTopics/RespondingtoForceTouchEventsfromJavaScript.html

[2015-09-15 04:19] #2 closed

[2015-09-15 04:19] #6 closed

[2015-09-15 04:19] #10 closed

[2015-09-17 12:49] JSteunou commented on #6
@yoannmoinet I just tested your 0.4.x release, I'm sorry but issue 2/ is worse with it :(

To sum it up

* I create a joystick (which is now a manager) with a specified size
* Some times the size is not correct because other things happens and I need to set a new size.
* With 0.3.0 I just had to update joystick.options.size and it worked
* With 0.4.0 I do not have access to size so I call `.off` o

[2015-09-17 12:56] JSteunou commented on #6
Fond a tail: old manager is still bind to move events. The same old manager that have size to 0. How can I cleanly destroy the manager so all events are unbind?

[2015-09-17 13:55] yoannmoinet commented on #6
If you need to dynamicly update the size options on the manager we could add its `nippleOptions` to its exported signature.

Would this fix your issue? At least we'd go back to where we were in the `0.3.0`. And you'd be able to modify any new nipple instanciated.

What do you think?

We still need your `.destroy()` method though. It's a great feature.

[2015-09-21 08:59] JSteunou opened #12 "rimraf missing from dependencies"
npm install then npm build will shout the error on fresh install.

[2015-09-21 14:06] yoannmoinet commented on #12
oups :smile: forgot to `--save-dev` it. Fixing it right now.

[2015-09-21 14:13] #12 closed

[2015-09-21 18:40] Antariano commented on #7
I'd be very interested in this functionality. :+1:

[2015-09-21 18:49] yoannmoinet commented on #7
Thank you for the feedback @Antariano.
Since you're interested in this, what do you think about this ?

I was thinking about 3 different modes possible.
**`dynamic`**

**`semi`**

**`static`**

What would be your preferred workflow?

[2015-09-21 20:06] Antariano commented on #7
My personal usage would be a single nipple that should not change position. If I understand you correctly this would be `static`?

However I can see other developers having different needs.

Just so I understand this correctly, when you say "disappears" you mean in a disabled, still visible state?

[2015-09-21 20:20] yoannmoinet commented on #7
Very good, indeed your usage would be in a `static` mode.

The joystick would never disappear and would fade out on release. Not invisible, just more transparent than normal.

When I say 'disappears' in the previous modes explanation, it means that the joystick totally disappears, it becomes invisible (alpha 0) and its DOM element gets totally removed from the DOM.

It will never happen in the `st

[2015-09-29 03:36] yoannmoinet commented on #8
fixed by 2f527b1db1262083575d1fd5e770c2c176112f1c

[2015-09-29 03:36] #8 closed

[2015-09-29 03:36] yoannmoinet commented on #7
fixed by 347feaaa38cd4e16f603dfe61580b15a1f53e70b

[2015-09-29 03:36] #7 closed

[2015-09-29 23:15] Antariano commented on #7
Awesome, thank you so much for the rapid update!

However I'm noticing a positioning issue when the nipple is moved from it's original position while in static mode, I'll get you some more info... please hold...

[2015-09-29 23:18] Antariano commented on #7
Yep!
To reproduce, just go to your demo on http://yoannmoinet.github.io/nipplejs
and move the `<div class="zone" id="static">` down a bit with e.g. `top: 200px`,
then try to move (wiggle?) the nipple control. It'll try to calculate the position from the old values.

[2015-09-29 23:32] yoannmoinet commented on #7
Indeed.
Maybe I could reinit the `this.box` values at each touch-start. I'll look into this.
Because it might create unpleasant situations on edge cases.

Thanks for reporting this. :+1:

[2015-10-04 23:28] yoannmoinet opened #13 "Add an option `follow` to the joystick"
This will make the joystick follow the finger/cursor when going farther than the back circle.

This way, it will allow to have a revert movement way faster and shorter than with a fixed joystick.

[2015-10-04 23:31] yoannmoinet opened #14 "Add tests with casper."

[2015-10-04 23:32] yoannmoinet opened #15 "Add a more interactive demo"
A little and basic spaceship game.
Dual joystick for touch interfaces (shoot and move).
Solo joystick for mouse interfaces (shoot). Move will be done with WASD.

[2015-10-15 21:32] devoxel commented on #15
Are you working on this? I can take a stab at it later, it'd be fun :+1:

[2015-10-16 13:20] yoannmoinet commented on #15
I've not yet started to work on it.
Your help is more than welcome.

You can make it in the same form as the other [one](https://github.com/yoannmoinet/nipplejs/blob/master/test/index.html), it's copy pasted on Codepen.

Once in Codepen (if you go this route), you'll have to import :
- this [js](//yoannmoinet.github.io/nipplejs/javascripts/nipplejs.js)
- this [css](//yoannmoinet.github.io/nipplejs

[2015-10-17 10:15] clark-stevenson commented on #15
@yoannmoinet this project is awesome! Exactly what I was looking for and great docs. Keep up the great work.

[2015-10-17 13:07] yoannmoinet commented on #15
thanks @clark-stevenson :sweat_smile:.
If you encounter anything wrong or need to do something more with it, do not hesitate.

[2015-11-02 09:02] andersHj opened #16 "Static/semi mode on touch devices creates new nipples or are not dragable"
Very cool library, but have some issues on touch devices in static and semi mode

![image1](https://cloud.githubusercontent.com/assets/2843210/10877463/b8041e12-8146-11e5-81e3-64b14b673053.PNG)
On Ipad Air 2, new instances will be created on each touch also in static and semi mode.

On Sony Z2 Tab, most of the time it will not create a new instance, but often the existing instance is not working/d

[2015-11-02 18:04] yoannmoinet commented on #16
Thanks a lot for this.
I'll look into it soon enough.

[2015-11-06 12:29] Chruse opened #17 "IIssue with IE 11"
Hello!

I have the following issue. We have deployed the  NipplesJS to the following software. Please see link: http://ec2-54-78-224-212.eu-west-1.compute.amazonaws.com/et/pano/show/1441792/separate  On the right bottom corner there is deployed the nipplesJS.

The issue is that in IE11 there is no the so called Joystick ball (it doesn't show up) The Firefox and chrome are displaying joystick ball

[2015-11-06 12:48] Chruse commented on #17
On additional comment. If you will click on link , please disable flash. The issue is in HTML5.

[2015-11-06 21:34] yoannmoinet commented on #17
Thanks for reporting.

It seems that I'm using `document.contains` to detect if you've added the correct element to the dom.

I should have used `document.body.contains` because IE11 doesn't seem to shortcut it the same way as Chrome and FF.

Thanks for this, I'll fix it this week end.

If you need to fix it right now, I guess you could add something like `document.contains = document.body.contain

[2015-11-06 21:38] yoannmoinet commented on #17
Please also note bug #16 with the `static` configuration.

[2015-11-06 21:51] blq commented on #16
Also noticed this.
Seems like the identifier id collides, resulting in multiple instances of "nipple_0" etc causing great DOM confusion.

[2015-11-08 05:50] #16 closed

[2015-11-08 05:50] #17 closed

[2015-11-08 05:57] yoannmoinet commented on #17
This should have been fixed.
Can you confirm it?

[2015-11-08 05:58] yoannmoinet commented on #16
This should have been fixed in 0.5.4
Can you confirm it?

[2015-11-08 22:52] blq commented on #16
No. When I create two static nipples they both get id=0. My case is a simple gamepad style setup. Two simultaneous touches and zombie clones occur.
Line #639 "mode == 'static'" seems to always pass identifier as 0?

[2015-11-09 03:57] yoannmoinet commented on #16
Indeed, there is still a nasty bug... once again with multitouch :disappointed:

It looks like it's because of listening / stop listening to events that is somehow un-sync with the mode in use.

Working on it.

[2015-11-09 04:46] yoannmoinet commented on #16
0.5.6 should be better with multi-touch.

[2015-11-09 14:08] Chruse commented on #17
Hello Yaonn,

Thanks, issue solved.

One additional question.

If you will look at this link http://ec2-54-78-224-212.eu-west-1.compute.amazonaws.com/et/pano/show/1441792/separate (in case of IE)  and use for the navigation virtual joystick (ball). Is it possible somewhere to change settings that the image movement from right > left or Left> right  etc would be smoother. Currently it is  moving li

[2015-11-09 14:23] yoannmoinet commented on #17
I think I know why you have this behavior.

I you're listening to the `move` event, which is triggered only when your mouse is moving,
you're not constantly moving, this event isn't triggered all the time.
Only when changed.

In my opinion, you should have a constant movement applied, on which you'd apply a transformation value between :
- -1 (left)
- 0 (rest)
- +1 (right)

And on `move` you'd cha

[2015-11-09 22:51] blq commented on #16
Slightly better, no clones appear. But still, the id is duplicated to 0. When touching both one locks up and freezes. I believe this is a bug in the "static" mode?

As said, isn't a good use-case a gamepad setup? Two side-by-side containers with one static-mode nipple-joystick in each.

[2015-11-09 22:52] yoannmoinet commented on #16
Can you show me some code sample so I can reproduce your setup?

[2015-11-09 22:58] blq commented on #16
[code]

[2015-11-09 23:26] yoannmoinet commented on #16
Thanks, I'm looking into this... for sure there is a problem with the lib.
In theory it should have worked.
But it obviously doesn't. I think I have to refactor some stuff.
I'll keep this thread updated.

[2015-11-09 23:53] blq commented on #16
Great, thanks!

[2015-11-10 20:17] andersHj commented on #16
Thank you for fast fix!
It now works for my use case on Ipad.
Would be great if it worked with several instances as well.

[2015-11-20 22:09] ThumbGen opened #20 "Multiple static joysticks"
Hi

Amazing lib!

I am trying to setup 2 static joysticks in 2 different zones.
Something like: http://jsfiddle.net/k2xcey8j/4/

It seems to work until I try to move both joysticks in the same time (multitouch): one of them gets stuck and the other one continues to work well :(  No chance to 'revive' the dead one, it remains dead until the next refresh.

I reproduce the behavior on Windows Phone a

[2015-11-20 22:15] yoannmoinet commented on #20
Thanks for the feedback :smile:

I am aware of the condition, you can catch up the discussion on [this thread](https://github.com/yoannmoinet/nipplejs/issues/16#issuecomment-155224047)

The configuration should be supported, and in theory it was supposed to work.
But there was a major issue in architecture which provoked a big performance hit.

That's why I'm refactoring some stuff to avoid having

[2015-11-20 22:32] ThumbGen commented on #20
Wow, you are fast :)  No hurry at all! Thank you!

[2015-11-23 15:05] yoannmoinet commented on #20
As an update, the refactor is almost done, and it's working amazingly well :smiley:.
You can follow along [here](https://github.com/yoannmoinet/nipplejs/tree/features/refactor)

I also did a [streaming :movie_camera:](https://www.livecoding.tv/yoannm/), if you're interested in that sort of things :wink:.

It's very closed to be done, I still have a small bug in `semi` mode that I need to tackle.
A

[2015-11-23 15:06] yoannmoinet commented on #16
Please note that there is an opened issue for the multi-instance problem #20.

[2015-11-25 20:02] ThumbGen opened #21 "Idea: Create the d.ts Typescript type definitions"
Being the best touch-joystick lib available on the market you could maybe publish on DefinitelyTyped the d.ts definitions to support Typescript.

This will help both the users of your library and you by promoting it  :)

Just an idea....

[2015-11-27 15:49] yoannmoinet commented on #21
Thanks :relaxed:.

Do you have some hints on this? Or even create a PR for it?
I don't know/use TypeScript at all :disappointed:.

[2015-11-27 15:56] ThumbGen commented on #21
Sure, look at https://github.com/DefinitelyTyped/DefinitelyTyped
That's the biggest repository for type definitions. All well-known libraries are having the definitions there.

[2015-11-27 16:01] yoannmoinet commented on #21
Thanks,
I'll look into it once I get some free time...

In the mean time, if you want to do it, you could submit a PR.

[2015-11-27 21:41] Derrick56007 commented on #20
:+1:

[2015-11-29 06:33] #14 closed

[2015-11-29 06:34] yoannmoinet commented on #20
This is fixed in #22.

[2015-11-29 06:35] yoannmoinet opened #23 "Semantic switch `Manager` => `Collection`"
The `Manager` as we know it today will become a `Collection`.
There can be multiple instances of `Collections`, and this is what is returned by the `nipplejs.create()` function.
And we'll welcome the `Manager` that will handle all the `Collections`.
It is the general factory and exists only as one instance, it can be found under `nipplejs.factory` (for now).

[2015-12-06 17:44] rmp135 opened #24 "Not on bower?"
Attempting to install using bower returns an error that the package cannot be found, and searching on the [Bower](http://bower.io/search/?q=nipplejs) returns no results.

[2015-12-07 14:59] yoannmoinet commented on #24
Oh... this is definitely not normal.
I'll look into this.
Thanks for reporting this.

[2015-12-07 15:06] yoannmoinet commented on #24
Ok, this should be fixed now.
![image](https://cloud.githubusercontent.com/assets/597828/11630182/3ceafdfa-9cca-11e5-9527-2c2732a54e9b.png)

[2015-12-07 15:07] #24 closed

[2015-12-08 17:49] ThumbGen commented on #20
Hi

Tried the new code but I think it still has some problems.
I cannot use 2 different joysticks by using multitouch at all.
Also funny is that it influences other controls (nouislider) too :)

I have 2 joysticks (different zones, both static) and a slider.
If I use one control at a time it works perfectly.
If I keep one joystick pressed I cannot use the other one OR by moving the other one the f

[2015-12-08 19:03] yoannmoinet commented on #20
Thanks for reporting this.
Do you have a demo page for this?
So I can replicate it.

[2015-12-08 19:45] ThumbGen commented on #20
See  http://jsfiddle.net/k2xcey8j/10/

1. Tap one of the joysticks... after ~1-2 seconds the tap is lost and the control is back to untapped state (even if the finger is still pressing it)

2. With 1 finger tap the slider and while keeping pressed move _vertically_ with some other finger any of the joysticks: the slider moves too! (not sure if this is a slider issue or a joystick issue)

3. Not co

[2015-12-08 19:58] yoannmoinet commented on #20
I've modified a few things, can you tell me if it's working a little better now ?
http://jsfiddle.net/NeekGerd/p7jwu0qq/

In fact, your zones were 0px of height.
So I think it might have induced some touch weirdness.

If there is still a problem I'll see this later.

[2015-12-08 20:06] ThumbGen commented on #20
I see no change in behavior :(

[2015-12-10 21:03] yoannmoinet commented on #20
Hey !
I've tried to reproduce your problem :
![2015-12-10_15-53-41](https://cloud.githubusercontent.com/assets/597828/11728220/a000b57c-9f56-11e5-9356-1303a63e876f.gif)
This is a screen capture of me debugging my Nexus 5. So I'm on multitouch in chrome, I've tried several stuff and gimmicks, I couldn't get a wrong behavior. Is it what you're seeing too?

For the slider, I was able to reproduce you

[2015-12-10 21:08] ThumbGen commented on #20
Hi!

It seems the slider has indeed an incorrect implementation! I will file a bug there ASAP.

Thanks a lot for looking into it and sorry for wasting your time with the bug report.

The first issue is very difficult to reproduce, I feel it might be related to the pressure applied. I simply tap a joystick (real device, no emulator) and after 1-2 seconds it switches to "released" state (thus trigge

[2015-12-10 21:08] #20 closed

[2015-12-10 21:26] yoannmoinet commented on #20
Are you using it on a iOS device with 3D touch?

[2015-12-10 21:28] ThumbGen commented on #20
No, no IOS device at all :) Just a plain old Windows Phone and an even older Android tablet :)

[2015-12-24 12:30] ThumbGen opened #25 "Suggestion: Reset events on release"
Just a small suggestion (reproducible via your demo too) for improving usage of "dir" events:
- move joystick up => the dir:up event is triggered
- release
- move joystick up => the dir:up event is NOT triggered (seems u cache the last status)

Would help a lot getting an event each time the direction changes. Basically after release all "events" should be reset to None or something.

Just an idea

[2015-12-25 23:42] yoannmoinet commented on #25
I feel like this is a bug.
It _should_ be reseted.
Somehow, sometimes it's triggered (after at least once).

Thanks for the heads up.
Merry Xmas to you to.

[2015-12-26 17:25] #25 closed

[2015-12-29 17:32] ThumbGen commented on #25
Thanks for the fix, helps a lot!

PS: Maybe you can update also the "dist" content as many users directly use those files.

[2015-12-30 11:07] roelnoten opened #26 "v0.6.1 nipple in Collection.prototype.getOrCreate is undefined"
There is an issue in v0.6.1
The nipple variable in Collection.prototype.getOrCreate (build artifact) is undefined

[2015-12-31 03:22] yoannmoinet commented on #25
Definitely.
Thanks for the heads up.

[2015-12-31 03:24] yoannmoinet commented on #26
Thanks for reporting this.

Do you have any repro steps?
I couldn't reproduce, from basic examples, the behavior.

[2015-12-31 16:22] roelnoten commented on #26
Well,
i didn't try to reproduce an issue. But when i open the nipplejs.js in
IntelliJ (my editor) it highlights the error:

[image: Inline afbeelding 1]

I could easily fix by added that first line which is now commented.

Thanks for the great library.

I'm using it on an iphone and have troubles that sometimes the nipple would
remain stuck. I was working with a 2-3 month old version. But now that

[2015-12-31 18:25] yoannmoinet commented on #26
Oh I see... The variable is indeed not instantiated.

It must be coming from the latest somewhat big refactor I did.
I'm not using any codeintel (so sad there is none on Atom).

The 0.6.3 will fix that.

[2016-01-21 12:49] pedefe opened #27 "zone "div" not used but parent node used"
I have created two "div" in a jqxWindow area.
I need to create two joysticks, one in each "div"
The joysticks are created with position relative to jqxWindow and not relative to "div".
What can be the explaination ?

[2016-01-21 12:51] pedefe opened #28 "Changing dynamically the color when moving."
I wish to change dynamically the color of joystick from "gray" when iddle to other color when moving, and back to "gray" on "end" event.
How to do that ?
I have tried to change niddle.options.color in "move" function processing, but nothing occurs
Best regards.

[2016-01-21 18:20] yoannmoinet commented on #27
Hi, thanks for reporting this.
Do you have something to show me your setup please?
Like a codepen, jsfiddle or something else.

[2016-01-21 18:27] yoannmoinet commented on #28
You should be able to do it via CSS and classes :

Javascript :
[code]

CSS :
[code]

I didn't test it though, so keep me posted if it doesn't work.
Note that `classList` is not available in IE9-.

[2016-02-13 01:40] clark-stevenson commented on #21
This is far from perfect, I will eventually get around to a proper definition but for anyone today who cannot be bothered, this does the job.  Note that NippleInteractiveData interface is what occurs on mouse move.  Such as:

sample
[code]

nipple.d.ts
[code]

[2016-02-13 19:41] yoannmoinet commented on #21
Thanks a lot @clark-stevenson for this.
I might need to investigate a little more on the subject before being able to correctly reviewing it.

Can you create a new PR for this though?
@ThumbGen can you help me reviewing this alos?

[2016-02-20 16:44] ThumbGen commented on #21
Looks good (at least for my small project :+1:  )! Thank you, @clark-stevenson!

[2016-02-20 21:42] yoannmoinet commented on #27
Anything @pedefe ?

[2016-02-29 17:21] vgabor99 commented on #27
Hi,

I have the same problem. I want the joystick zone be relative to a div, but it is offset to the page instead.
https://jsfiddle.net/6q6278xe/6/
(The big bunch of javascript code is jsnipple)

Thanks,
Gabor

[2016-02-29 17:28] yoannmoinet commented on #27
Thank you @vgabor99, this is really appreciated.

The containing div has to have a `display` prop.
Either `relative` or `absolute`.
I've updated your [jsfiddle](https://jsfiddle.net/6q6278xe/7/) @vgabor99.

[2016-02-29 18:23] vgabor99 commented on #27
Thanks @yoannmoinet , working perfectly.

[2016-02-29 18:25] yoannmoinet commented on #27
@vgabor99 do you think the library should make the check itself?

@pedefe does that fix your problem?

[2016-02-29 18:41] vgabor99 commented on #27
Maybe the library should log a warning if the container does not have a position property. This would help beginners like me.

[2016-02-29 18:42] yoannmoinet commented on #27
Good call.
I'll also add a warning in the documentation.

[2016-03-23 17:11] blq opened #29 "'onresize' should use addEventListener"
I notice that the window onresize listener is attached by setting the property "window.onresize = function() {...}".
I suggest changing this to use addEventListener instead to avoid risking clash with existing code that also attaches to onresize.

[2016-03-23 18:30] yoannmoinet commented on #29
Never thought of that that way... very good point.

Do you want to PR it?
You can use the `u.bindEvent(el, type, handler)` helper.

[2016-03-23 18:32] yoannmoinet commented on #26
40da2124ab93fed9eac3496dc726e36e99efd6b1 should have fix this.

[2016-03-23 18:32] #26 closed

[2016-03-25 02:51] blq commented on #29
Nah, feels like such a tiny edit that, unless you insist, I leave to the original author :)

[2016-04-18 09:22] mbeneto opened #30 "Possible bug when changing orientation?"
Hi!

First of all, thanks for your contribution, it's being very useful in my project. Second, I'm kind of newbie in web design, so please, bear with me if this is just my fault and not a real bug!

I realized that when using a virtual joystick (in static mode) in a tactile device, if you perform a window rotation in the precise moment you are also pressing the joystick, the object gets frozen and

[2016-04-18 12:38] yoannmoinet commented on #30
Hi,
thanks for reporting this.

Did you see any errors (in the console) while doing so?

I'm sorry I can't really test it right now, as I'm changing country / job / life and these past weeks have not been really free for me 😫

Anyway, I'll look into this as soon as possible, it might not be before 2-3 weeks.

[2016-04-19 01:30] mbeneto commented on #30
Hi,
thanks for your fast reply.

I tried to remotely debug it using Safari and iOS but no error is shown in the console. By the way, I forgot to point it in the first message, but I tried it in several navigators (Safari, Chrome, Firefox...) and also different platforms (iPad and Android tablets) obtaining the next behaviour:

**iPad**: Crash as reported in Safari/Chrome/Firefox.

**Android**: Wor

[2016-05-29 08:27] yoannmoinet commented on #30
Sorry for the **LONG** delay.
Reading your update, I'd say that there is a Javascript Error when changing the orientation of the phone.
I'll look into that soon.
Thanks again for your reporting.

[2016-05-29 12:17] #29 closed

[2016-05-29 12:17] #27 closed

[2016-05-29 21:47] yoannmoinet commented on #29
fixed by 14c28f1ef868abc99e63761b208d9eb2a796bb54

[2016-05-29 21:47] yoannmoinet commented on #27
added a nota in the readme 59b4ca4835242daa15e35f024a8ed22820ec0fbb

[2016-05-29 22:33] bfishman opened #31 "Joystick gets stuck"
I'm using Nipple.js on two separate transparent elements, overlaid on top of an HTML canvas - a 'left' and 'right' element. This allows me to use two joysticks for a 'twin stick shooter' style game.

I'm having a lot of trouble determining _when_ this actually happens, but it is happening quite frequently:  the right joystick "locks up", frozen at the max extent of its bounds, and cannot be releas

[2016-05-29 22:41] yoannmoinet commented on #31
Thanks for reporting it, I'll look into this.

[2016-05-30 03:14] bfishman commented on #31
I will message you privately.

[2016-05-30 20:35] yoannmoinet commented on #31
Ok, so after testing it, I might have found a way to reproduce it.

I was able to reproduce the phenomenon by activating the right joystick, while playing with it, rotate the phone.
Then release your finger, and the joystick will stay activated.
After that, if you active the left joystick, both will tracked the same finger.
Release, and only the right one will de-activate, and the right one will s

[2016-05-30 20:53] bfishman commented on #31
It is not the same behavior, but I have seen that happen as well. Perhaps
they are related and one solution will fix both.

I will try to come up with a better repro..

On Mon, May 30, 2016 at 2:35 PM, Yoann Moinet <notifications@github.com>
wrote:

[2016-07-18 19:04] ablakey opened #32 "Container div offset causes weird hitbox issues"
The div that is created by nipplejs to contain the two circle divs has a very odd offset where the top-left corner is the centre. You can see in the screenshot below via. Chrome. You can also see this in the hosted demos by selecting the element in your browser's developer tools.

The problem is twofold:

1. It overlaps with other elements, stealing their clicks.
2. It makes the area that controls

[2016-07-19 07:37] yoannmoinet commented on #32
Thanks for reporting this.
I'll look into it later today.

[2016-07-20 20:36] #32 closed

[2016-07-20 20:38] yoannmoinet commented on #32
@ablakey I've pushed a new version 0.6.4

Please, tell me if that fixed your issue.

Thanks.

[2016-07-21 11:52] luckylooke opened #33 "joystick get stuck on iphone"
There is method prepareCollections() on Manager.prototype, but when it is called it doesnt work. You can test it via safari remote debug in console.

[code]

I think that is the reason why it get stuck. You can test it on your DEMO (dynamic) as well, just open it on iphone and quickly repeat different touches, best with two fingers. Same for chrome or safari. It seems to me like a bug in safari, b

[2016-07-21 12:40] yoannmoinet commented on #33
Thanks for reporting this, I'll look into it.

[2016-07-29 08:39] jefBinomed opened #34 "Last versions of chrome (dev /chromium) don't work with nipplejs"
It seems that chrome does a modification with it's management of touch events and nipplejs will not work again when those versions.

I ask to an engineer and show me this deprecation : https://www.chromestatus.com/feature/5730982598541312

Can you please fix nipple to work with the last versions of chrome ? I'm using it for some demos that need a version of chrome very recent !

[2016-07-29 14:21] yoannmoinet commented on #34
Hi !
Thanks for the heads up.
I'll look into this once I've got some time.

In the mean time, can you give me more details on how the joystick isn't working anymore?
Do you have an error in the console or something? What's actually happening?

[2016-07-29 14:26] jefBinomed commented on #34
That the pb, there is no error in the console....

I put some log in the bundle nipple.js in order to understand more what's append and If i'm on the stable version of chrome i have something like : touchStrart -> touchMove x N -> touchEnd

and if i'm on the last version of chrome : touchStart -> touchMove x1

[2016-07-29 14:29] yoannmoinet commented on #34
Can  you send me a link to the version of chrome that isn't working please?

[2016-07-29 14:40] jefBinomed commented on #34
https://download-chromium.appspot.com/?platform=Android  or https://play.google.com/store/apps/details?id=com.chrome.dev

[2016-07-30 12:29] yoannmoinet commented on #34
I've tested the different demos with the dev version of chrome, and I don't experience anything wrong with it.

Can you host your code somewhere (codepen, jsfiddle...), so I can investigate on something that's actually not working?

Thanks.

[2016-08-03 07:33] yoannmoinet commented on #34
Hi,
I'll close this if you can't bring more info on this.
Thanks for reporting.

[2016-08-03 07:53] jefBinomed commented on #34
I'm in holidays so don't close the bug, I will give you more information's
when I come back

Le mer. 3 août 2016 09:50, Yoann Moinet <notifications@github.com> a écrit :

--
-----------------------------------------------------------------------
Jean-François Garreau - Binomed - GDG Nantes
Tel : +336.48.28.15.28
Email perso: jean.francois.garreau@gmail.com
Email pro: jean.francois.garreau@binomed.

[2016-08-03 09:12] yoannmoinet commented on #34
No problem.
Feel free to re-open it when you come back from holidays.

[2016-08-11 12:23] jefBinomed commented on #34
so I try with thoses versions :

each times i test the static version with this site : https://codepen.io/YoannM/full/gapmMG

- Nexus 4 (5.1.1)
 - Chrome 52 [OK]
 - Chrome Beta 53 [KO]
 - Chrome Dev 54 [OK]

- Samsung Galaxy S5 (6.0.1)
 - Chrome 52 [OK]
 - Chrome Dev 54 [KO]

-Windows 10 (Devtools with touch activate)
 - Chrome 52 [OK]
 - Chrome Canary 54 [KO]

[2016-08-15 14:23] yoannmoinet commented on #34
Ok... I've tracked down the issue and found where it came from.
Really, it wasn't an easy one, but I'm really glad you've found it before the release of Chrome.
Thank you.

So basically, the new version of Chrome, when on a touch device, will use PointerEvents instead of TouchEvents.
And with this system, because it uniformises all user's events, being mouse, touch or pointer, we're in conflict wi

[2016-08-15 14:29] yoannmoinet commented on #34
For the sake of documentation, here's where I've found the info:
https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/dev-guide/dom/pointer-events/#controlling-for-default-touch-handling

[2016-08-15 14:54] yoannmoinet commented on #34
Ok, the `0.6.5` should fix your issue.

You can review the changelog here: https://github.com/yoannmoinet/nipplejs/compare/v0.6.4...v0.6.5

[2016-08-15 14:55] #34 closed

[2016-08-16 08:38] jefBinomed commented on #34
I will do this very soon and keep you aware.

Thanks !

[2016-08-18 07:01] jefBinomed commented on #34
It now works for all the devices :) thanks !

-Nexus 4 (5.1.1)

Chrome 52 [OK]
Chrome Beta 53 [OK]
Chrome Dev 54 [OK]

-Samsung Galaxy S5 (6.0.1)

Chrome 52 [OK]
Chrome Dev 54 [OK]
-Windows 10 (Devtools with touch activate)

Chrome 52 [OK]
Chrome Canary 54 [OK]

[2016-08-18 07:40] yoannmoinet commented on #34
Very good news @jefBinomed.
Thanks for testing this.

[2016-08-22 14:15] mlknz commented on #31
Having same issue. Reproduced by creating one static and one dynamic nipples on different dom elements.
`addedNipples = 0;`
`removedNipples = 0;`
`lookNippleManager.on('added', (evt, nipple) => {`
`    addedNipples++;`
` }).on('removed', (e, nipple) => {`
`    removedNipples++;`
`  });`

When bug happens having `addedNipples === removedNipples + 1`. Spamming touches helps in reproducing, but is no

[2016-08-22 14:21] mlknz opened #35 "Broken dataOnly parameter."
Created dynamic nipple with `dataOnly: true` parameter.
On touch having this in Chrome / Ubuntu:
`nipplejs.js:336 Uncaught TypeError: Cannot read property 'stylize' of undefined`

In code:
`this.buildEl().stylize();`

At the very beggining of `buildEl` function:
`if (this.options.dataOnly) {
        return;
    }`

[2016-08-22 14:35] yoannmoinet commented on #31
Thx @mlknz to add more details to this.
I'm still having a hard time pinpointing this (ANNOYING) bug.

[2016-08-22 14:36] yoannmoinet commented on #35
Nice one, will fix soon.
I'm not using `dataOnly: true` very often 😉

[2016-08-22 14:40] yoannmoinet commented on #35
Actually,
if you want to submit your PR to have it sooner,
it would simply need to `return this;` in both `buildEl` and `stylize` to keep the chainability.

As you wish, I'll do it this evening if you don't.

[2016-08-22 17:41] mlknz opened #37 "Dev build workflow."
Npm install failed at `phantomjs@2.0.0-alpha1`.

Npm run build fails (cannot find module core-util-is in format task).

Also i suggest having dev branch ahead of master (had nowhere to merge but master which is not good).

Node v6.2.0, npm v3.7.3, ubuntu 14.04.

[2016-08-22 20:12] yoannmoinet commented on #37
what platform are you on?

[2016-08-22 20:13] yoannmoinet commented on #37
For the branch, I don't use dev branches anymore.
Only hotfixes and feature branches.

[2016-08-23 09:58] mlknz commented on #31
@yoannmoinet couldn't reproduce bug with dataOnly param set to true. Could it be dom manipulation related issue?

[2016-08-23 12:22] yoannmoinet commented on #31
@mlknz it could be indeed.

I don't have much time on this right now, so feel free to investigate.
I'm fixing the issue you have with the dev workflow and I'm almost there.

[2016-08-23 12:23] yoannmoinet commented on #37
Ok, I'll try to update all the dependencies we have.
It might fix the cross-platform issue.

[2016-08-23 12:26] yoannmoinet commented on #35
I've merged your PR, thank you !

I'll push a new build this evening.

[2016-08-23 13:24] mlknz commented on #35
Thanks!

[2016-08-23 14:01] #35 closed

[2016-08-23 19:34] yoannmoinet commented on #37
I've updated all the dependencies.
Can you tell me if it helps?

[2016-08-24 09:15] mlknz commented on #37
All tasks work fine now!
Tests: 2 passed, 7 failed.

Details for the 7 failed tests:

[code]

[2016-08-24 11:22] mlknz commented on #31
Found easy way to reproduce bug:
start a new touch on old joystick container before it gets removed from `options.zone`. This way `Collection.processOnEnd` is not called after releasing touch.

Basically slow double tap works.

[2016-09-26 18:13] ablakey commented on #9
Ran into a case on the factory floor where I could benefit from this.  If not custom elements, at the very least custom CSS for the inner and outer circles.  For example, I need to do high contrast view, which involves having a solid thick yellow border and no background.

[2016-09-26 18:37] yoannmoinet commented on #9
@ablakey you definitely can do some stuff with CSS in the current implementation.

Because you have access to [the element of the joystick as needed](https://github.com/yoannmoinet/nipplejs#joystickel) and it's a very basic DOM element you can easily customize via CSS as every part of it has a specific class.

[2016-09-26 19:04] ablakey commented on #9
Yup, that's what I discovered and am doing. However it feels kludgy because it applies a class, which I have to remove or override with !important.

The way `color` is an attribute passable into the component, it would be nice to be able to pass in classnames to override or extend the defaults.

But you're right. I've discovered that there is an escape hatch to start mucking about with the styles.

[2016-10-04 15:25] ablakey opened #38 "Simultaneous touch events"
Has anyone experimented with a way to emulate the ability to simultaneously use the joystick and touch other elements like buttons, dragging a map around, etc. ?

I have luck getting multiple joysticks to work together, but have not had any luck getting a joystick and a button to work together.

[2016-10-14 21:52] vrracing opened #39 "mouse coords offset"
I have a nipple working in a div with class scPanner which is enclosed in a flexbox

[code]

and create it the following code...

[code]

When I click on the nipple, the inner circle shoots up to the top.  If I drag the mouse down so the mouse pointer is below the scPanner div about the height of scPanner (~88px) then the inner circle will center and if I continue moving the mouse down, the inner

[2016-10-16 10:13] yoannmoinet commented on #39
Hi, I've created a JSFiddle of your setup.
I can't really reproduce your issue I think.

Can you tell me a bit more about it please?

Here's the fiddle: https://jsfiddle.net/NeekGerd/ykotkzow/1/

[2016-10-16 10:16] yoannmoinet commented on #38
@ablakey can you share a bit more on your setup please?
Like a jsfiddle or a codepen would help understand your issue.
Thanks.

[2016-10-16 10:19] ablakey commented on #38
Sure. Will have to wait until I get to work on Tuesday as I have no multitouch devices at home with me.

[2016-10-17 22:57] vrracing commented on #39
Thanks for responding!  I think I may have discovered a clue.  If I open the page, then the mouse coordinates used by nipple are off as I described before.  If I resize the page, then the coordinates match up correctly and the nipple responds as expected.

I've had a similar issue with canvas and I have a theory as to what may be the root cause.  When I create the nipple, it isn't displayed becaus

[2016-10-18 07:41] yoannmoinet commented on #39
Can you reproduce it with the fiddle?
I don't see any offset in the fiddle.

Without an usable example of your setup, I can't help you.

[2016-10-18 13:48] vrracing commented on #39
My suspicions have been proven correct.  If the nipple is initialized in a display:none container, it's mouse coords are boofed when it is displayed.  I updated your fiddle to demonstrate it.

https://jsfiddle.net/ykotkzow/13/

Thanks!

[2016-10-19 08:00] yoannmoinet commented on #39
Ok, I'll see what I can do with this.
This might cause issues in some edge cases like yours.

Side question though,
why not instantiating the joystick at the moment you're showing the container?

Basically moving the `nipplejs.create(options)` into the `showIt()` function.
And destroying it each time you need to hide the container again.

I feel like this would be a more efficient way to deal with

[2016-10-19 14:24] vrracing commented on #39
With the popularity of AngularJS and SPAs, I'm not convinced this is an edge case.  As the user navigates the routes, Angular populates the DOM with the new page (hidden so no flashing) and then displays the newly updated DOM.  So unfortunately, there is no "showIt()" function, I just added that to your fiddle to demonstrate the root cause.

You've given me an idea though.  I'll see if I can put t

[2016-10-19 14:26] yoannmoinet commented on #39
Yeah I understand.

I'll still try to find a solution.
It's just I don't have it yet. So for the time being, you're probably better with a temporary hack.

[2016-10-19 15:09] vrracing commented on #39
I got it to work!  Here is how I did it in case someone else needs a workaround.

[code]

To your earlier point this allows me to delay creating the nipple until the container DOM element is truly ready.

Thanks for your help!

[2016-10-20 00:49] vrracing opened #40 "Events stop working after first end"
Hi.  Using a static nipple everything works great on first use.  On second use, only the start is captured; move and end are ignored.

Fiddle here...

https://jsfiddle.net/ykotkzow/18/

Thanks!

[2016-10-20 07:32] yoannmoinet commented on #40
Oh... looks like the lib is missing some triggers.
Specifically the ones with the id of the joystick.

I've updated the fiddle to have a temporary solution: https://jsfiddle.net/ykotkzow/19/
By listening to general events.

This is a bug though.

[2016-10-20 14:37] vrracing commented on #40
That works.  Thanks @yoannmoinet

[2016-10-27 13:08] #37 closed

[2016-10-27 23:00] yoannmoinet commented on #40
This has been fixed in 0.6.7

[2016-10-27 23:00] #40 closed

[2016-11-16 06:11] nazacity opened #41 "how to show degree"
[code]
[code]

how can i show angle degree and distance tell me plz

[2016-11-16 08:32] yoannmoinet commented on #41
Please look into the demo [here](https://codepen.io/YoannM/full/gapmMG).
You'll find your solution.
I'm closing this as it is not an issue.
Cheers.

[2016-11-16 08:32] #41 closed

[2016-11-16 20:23] mlknz commented on #38
I've got in similar issue. Basically I have a button in top 10% and joystick zone in bottom 90%. In chrome mobile emulator everything works fine, but on real device button doesn't work (as soon as at least one joystick touch was started). You could look at it [here](https://mlknz.github.io/Dungeonizer.js/) (press "Take a walk" from mobile device and then try to press "Exit" in top left corner). [L

[2016-11-17 07:59] yoannmoinet commented on #38
Thanks @mlknz for the testable example.
I'll have a look as soon as possible.

[2016-11-21 20:38] j-cali opened #42 "Lock joystick to move only on a certain axis"
Is there a way to restrict joystick movement only a certain axis?
For example, locking it on the y-axis for zoom in/out functionality. Thanks.

[2016-11-22 08:24] yoannmoinet commented on #42
That would be a great new feature.
I'll label it as it.

Thanks!

[2017-02-02 20:51] ELundby45 commented on #42
I anticipate taking a shot at implementing this in the coming weeks and will definitely submit a PR if I get it working. If you've already thought about this, or have any ideas on implementation, I would love to hear your thoughts.

[2017-02-03 06:51] falkoschindler commented on #42
Sounds great!

I somehow enforced the nipple to stay centered via CSS:

[code]

But a Javascript-based solution on your side would be much better, I guess.

[2017-02-03 08:47] yoannmoinet commented on #42
Hi, thank you for your interest in this.

What I was seeing is a new setting passed at the `nipplejs.create(options)` phase.

Something like `lockX` and `lockY` as booleans.
Then it can be enforced [here in the code.](https://github.com/yoannmoinet/nipplejs/blob/master/src/nipple.js#L287)

Feel free to take a shot at this, I will be more than happy to review your contribution.
I'm currently a bit

[2017-02-15 14:50] boxabrain commented on #38
Similar problem here, in static mode all other UI elements event were prevented.

Partially solved with a quick (but dirty) fix in nipplejs.js, applying preventDefault() only if event target is a joystick:

`u.prepareEvent = function (evt) {
	if (evt.target.className == 'front' || evt.target.className == 'back') evt.preventDefault();
    return evt.type.match(/^touch/) ? evt.changedTouches : evt;

[2017-02-15 18:08] ELundby45 commented on #33
I've noticed that this problem occurs significantly less if I set the fadeTime to 0.

[2017-03-03 16:09] colmakers-antonio commented on #31
hi, I have fixed a similar issue by adding this line "|| self.binded" in this function in this file dist/nipplejs.js

`Manager.prototype.unbindDocument = function (force) {
    var self = this;
    // If there are no touch left
    // unbind the document.
    if (!Object.keys(self.ids).length || force === true || self.binded) {
        self.unbindEvt(document, 'move')
            .unbindEvt(docume

[2017-03-24 00:56] d3Niro opened #43 "Help with initialising joystick"
Hello, I am relatively new to node.js. This package is exactly what I need for a little hobby project of mine, but I am unable to initialize the joystick in a web app. What .html, .js, and .css code is needed for the bare minimum joystick on a blank web app? I can figure things out from there, would really appreciate any help in getting started.

[2017-03-26 13:49] nvl1109 opened #44 "Help to make nipplejs works on React Native"
Hi,

I would like to get nipplejs works on React Native, or alternative package on react native also helpful.
Do you have any plan to support/porting nipplejs to React Native? Or can you give me a quick guide?

Thank you.

[2017-03-27 15:54] yoannmoinet commented on #43
Hi,
everything you need is listed in the documentation.
http://yoannmoinet.github.io/nipplejs/#demo

[2017-03-27 15:54] #43 closed

[2017-03-27 15:55] yoannmoinet commented on #44
Hi,
unfortunately, I don't have much time to implement new stuff.

I wanted to first make everything ES6.
Then we'll see for the React(-Native) part later.

[2017-04-01 13:27] that-ben opened #45 "How to update Nipple JS container after device orientation change?"
Hi, thank you so much for your Nipple JS efforts.  This plugin is AMAZING and really a life saver when it comes to all these iOS updates breaking other methods of implementing DPAD and joystick controllers.  I found Nipple JS to be the BEST javascript plugin out there and it works universally on every device, which is totally impressive.

ISSUE/QUESTION: I have my Nipple JS created in a HTML eleme

[2017-04-02 15:15] abhimodgi opened #46 "Clicking joystick inner circle moves the inner circle to extreme downwards.Can you please help me to resolve this issue"

[2017-04-03 09:35] yoannmoinet commented on #46
You'll have to give more info, code snippets and captures of what's happening.

[2017-04-03 09:45] yoannmoinet commented on #45
Hi !
Thank you for those kind words 😜

For the rotation, there is some code in the library that should handle that for you.
I might have missed some native updates I guess, you can take a [look there](https://github.com/yoannmoinet/nipplejs/blob/master/src/manager.js#L18), it might enlighten what's happening in your case.

I'm due for a large update of the lib, as it becomes unstable in more and m

[2017-04-03 11:38] that-ben commented on #45
Thank you so much for replying.  I have looked at the event handler you showed me and altough it looks very straightforward, I couldn't find why it does that on my iPhone 7 iOS 10.3 and not on my iPhone 5 iOS 10.1.  Either way, for now, I have fixed my implementation by removing every position:fixed and adapted them to position:absolute instead.  This very small change completely solved the case f

[2017-05-10 15:16] praveenaj opened #47 "Make joystick visible by default in semi mode"
I want to show joystick once plugin is initialized, not on click. I tried `static` mode but in that I want just the joystick to move and keep outer circle stationary as it is now. I'd like to have your recommendations. Thanks

[2017-05-10 21:15] yoannmoinet commented on #47
I'm not sure I understand, this is what static does.
Have you tried the examples in static mode ? http://yoannmoinet.github.io/nipplejs/#demo

[2017-05-10 21:17] #46 closed

[2017-05-12 12:43] praveenaj commented on #47
@yoannmoinet Yes, in other words `static` mode with a moving joystick.

[2017-05-14 15:38] yoannmoinet commented on #47
So, I don't have much free time at the moment. So if you really need this, please feel free to take a shot at it and submit a PR, I'll be more than happy to review it.

[2017-05-16 02:48] praveenaj commented on #47
Sorry for the confusion. It turns out I have missed `position` property when I tested `static` mode. This made the joystick not moveable. All good when I set 50%-50% for left and top.
Thanks for creating this awesome library.

[2017-05-16 02:48] #47 closed

[2017-06-09 13:33] andersHj opened #48 "Nipple hijacks events on iPad?"
After updating to version 0.6.7 I have had some problems on iPad:
The problem is that after I first touch the joystick/nipple other events on my page will not work anymore.

To **reproduce** open the demo page:
https://yoannmoinet.github.io/nipplejs/
on an iPad and click the **static** tab, and **touch** the nipple.
Then try to change to one of the other tabs (dynamic or semi)

Edit: it is also a

[2017-06-09 14:58] yoannmoinet commented on #48
Hm, thank you for reporting this.
I'll have a look as soon as possible.

[2017-06-14 15:26] dinukalakshan opened #49 "Stop Joystick swapping back"
Hi yoannmoinet, Love your work!
Is there a way to station the joystick knob where the user moved it to without it swapping back to its original position?
I want to achive this -

![nipplejs](https://user-images.githubusercontent.com/22944281/27140349-ebd417ec-5142-11e7-8e51-16d212b71a94.gif)

Thanks!

[2017-06-14 16:17] yoannmoinet commented on #49
This could be possible, using a static joystick and adding a new option in the code.

Then, put this [statement](https://github.com/yoannmoinet/nipplejs/blob/73bcda952d01882566a72dd52ec3678548eefe51/src/nipple.js#L233) behind the condition of this option.

That would block the movement and keep the joystick in its latest position.

I don't have much time, feel free to submit a pull request for thi

[2017-06-14 20:04] MalithHatananchchige commented on #49
@yoannmoinet Thanks, alot, works like a charm. I have sent you a pull request.
https://github.com/yoannmoinet/nipplejs/pull/50

[2017-06-14 23:22] yoannmoinet commented on #49
Wow! thank you @MalithHatananchchige for the fast PR !! 🙌
I'll have a look later this week I sware!

[2017-07-05 17:38] jaean123 opened #51 "Set the position of the joystick and disable user control."
I'm creating an app and there are two ways to drive, one is by controlling it directly by moving the joystick and the other way is to use phone rotation data. The joystick reacts to the phone rotation as feedback.

How would I disable touch/click control on the joystick and set the position of the joystick in the code?

Thanks for helping.

[2017-07-14 00:09] #51 closed

[2017-07-14 18:20] jaean123 commented on #38
Thanks @boxabrain
That line of code fixed the issue!

[2017-07-17 21:18] thebelin commented on #39
This solution was helpful to me also, in a situation where the static nipple was being instantiated inside a container with display: none; before being displayed. The nipple would behave as if it were placed in the top left corner of the screen. It was possible to make a workaround which delayed the nipple instantiation until the display call for the element.

[2017-07-26 15:06] GuskiS opened #52 "Calling `stylize` after init"
Is it possible to call `stylize` after I have inited static nipple? I would like it to recalculate the size and position if I change the options.

[2017-07-26 16:34] yoannmoinet commented on #52
Try it. I don't know.

[2017-07-26 16:41] yoannmoinet commented on #52
From what I read in the code [here](https://github.com/yoannmoinet/nipplejs/blob/master/src/nipple.js#L89) it might be possible.

[2017-07-26 16:42] yoannmoinet commented on #52
Please, next time put a bit more effort in your investigation (actually testing what you're trying to achieve) before opening an issue here.
Thanks.

[2017-07-26 20:25] GuskiS commented on #52
I was looking at the code and testing stuff. What I noticed was that https://github.com/yoannmoinet/nipplejs/blob/master/src/nipple.js#L56 returns custom instance of available functions, but `stylize` is not one of them. I was unable to get to that function myself so I was asking here. Sorry for not saying what I have tried.

[2017-07-27 07:21] yoannmoinet commented on #52
Oh you're right, `stylize` isn't part of the available api.

But if you stylize your joysticks via css you won't need it.
You can find the html of the joystick [in the doc](https://github.com/yoannmoinet/nipplejs/blob/master/README.md#joystickel), so you can target its element via css.

[2017-07-27 07:23] yoannmoinet commented on #52
Or, if you need, you could submit a PR that would expose `stylize` in the available api.

With the associated doc. I'll gladly review it.

[2017-07-28 23:22] GuskiS commented on #48
Just noticed this on Iphone SE, works fine in v0.6.6.

[2017-07-29 09:27] yoannmoinet commented on #48
duplicate of #38

[2017-07-29 09:27] #48 closed

[2017-07-29 09:30] #45 closed

[2017-08-01 19:53] kevzettler commented on #33
I've also encountered this problem

[2017-08-02 07:18] sprajagopal opened #53 "is it possible to change the smaller circle size ratio with respect to the bigger circle? It's default 50%"

[2017-08-02 09:59] yoannmoinet commented on #53
Hi,
it seems that [this part](https://github.com/yoannmoinet/nipplejs/blob/master/src/nipple.js#L115) hard-code the 50% part.

But if you had some CSS like this :
[code]

The `!important` part is the important part here ;)

It will override the one that is written in JS.
It's a bit hacky, but I think it would be a solution for you.
Tell me if it's enough, and close the issue if so.

Cheers!

[2017-08-02 10:04] yoannmoinet commented on #53
Just tested it, it's not possible.
Since the movement is based on the size of the front element.

You'll need to create a new option to set the front part size independently.

PR's welcome ;)

[2017-08-16 21:40] miharix opened #54 "Is it possible to get -X/+X and -Y/+Y and/or min/max value going from center?"
Hi!

How can I get the distance from the nipple to center like a cartesian system ?

I'm trying to implement your nipplejs code in my small project https://github.com/miharix/miharix-wifi-rc/
To do this, I need the X/Y max/min value (optimal would be if I can define the range) so I can calculate the responding ° for the servo move. Or least the X and Y distance from center that contains +/- depend

[2017-08-17 14:04] yoannmoinet commented on #54
I'm not sure I totally understand what you need.
Maybe you'll find it here https://github.com/yoannmoinet/nipplejs#move, in the documentation.

[2017-08-17 16:40] miharix commented on #54
If it's not possible I'll make some approximation from existing data, but I think that this could be useful also for somebody else.

To control RC servo I have to send him value in degree(0-180°) or in PWM(0.5-2.5ms)
I'm using nipple in static mode and dynamic container/circle size, depending on screen resolution.
So if I want to control servo on example nipple's X movement,
 and make it move exac

[2017-08-18 03:59] dggsax opened #55 "Refresh 'center' coordinates for nipple"
Hiya. I'm working with nipplejs and have a function that builds nipples from a configuration json file. My web app uses [shapeshift](http://mcpants.github.io/jquery.shapeshift/) to make things draggable. So, essentially all my of modules (including my nipples) get built in a div like this:
![image](https://user-images.githubusercontent.com/13513445/29443675-8f918bc6-83a7-11e7-8e1d-bfb99d7ac7d9.png

[2017-08-20 16:21] miharix commented on #54
Leaving here the solution for my small problem:

[code]
X & Y are in range from -size/2 to size/2
XY(0,0) is the center
Servo1 uses only X and is between max_rangeX and min_rangeX.

[2017-08-21 10:20] sharath1512 opened #57 "Joystick is not released when moved out of the window only chrome and IE"
For a static joystick, when we drag the joystick outside the position where it exists, the joystick is not released and we have to do an extra click to release it.

Steps:

1. drag the joystick outside the position where it is created (like into the white space.)
2. Observe that it is not released.

[2017-08-23 00:44] dggsax commented on #55
One solution I was thinking of was rebuilding the nipples everytime the page moves as a result of shapeshift. But am having a hard time implementing the .destroy() function, unsure whether I should be calling nipplejs.destroy('#NippleID');. Any tips? @yoannmoinet

[2017-08-24 15:53] yoannmoinet commented on #55
Hi,
see if you could do something similar to the built-in `resize` event handler, [here](https://github.com/yoannmoinet/nipplejs/blob/master/src/manager.js#L25).

For the `destroy` function, you can call it either on the [nipple instance](https://github.com/yoannmoinet/nipplejs/blob/master/src/nipple.js#L168) directly, that will destroy the nipple itself, on the [collection](https://github.com/yoa

[2017-08-30 19:15] dggsax commented on #55
Hello again,

Storing nipple objects in an array and just iterating the .destroy() function did the trick. Thanks for the help!

Daniel

[2017-08-30 19:15] #55 closed

[2017-09-06 07:46] yoannmoinet commented on #57
Do you have a setup I can test.

I can't reproduce it in the demo.

http://yoannmoinet.github.io/nipplejs/#demo

[2017-09-20 12:14] sharathava commented on #57
Hi,

This can be reproduced in demo. This happens on IE and chrome but not on firefox. This is for the static mode (static tab).

[2017-09-20 12:29] yoannmoinet commented on #57
what would be the expected behavior?

[2017-09-20 12:31] sharathava commented on #57
I would expect the behaviour should be as it is behaving in the firefox. The joystick should be released.

[2017-09-20 12:51] yoannmoinet commented on #57
that would be cool indeed, the issue is Chrome (and probably IE too) won't let you track the mouse move outside the window.
So it can't be the same as Firefox.
I could make it like it would release the joystick as soon as the cursor goes out of the window.

[2017-09-20 12:56] sharathava commented on #57
Okay, So firefox would track the mouse move outside the window.
Is there a way I can fix this for IE and chrome? Or is it a limitation?

[2017-09-23 12:55] cipriandraghici93 commented on #21
Thanks @clark-stevenson for his answer.
Some steps to use it:
0. npm install nipplejs --save
1. Create a file called index.d.ts inside ../node_modules/nipplejs folder
2. Copy @clark-stevenson 's code and paste to that index.d.ts file
3. Import where you have to use it: import Manager from 'nipplejs';
4. Use like: var joystick = Manager.create({
      zone: document.getElementById('zone_joystick'),

[2017-09-28 09:27] milankragujevic commented on #49
Updates?

[2017-09-28 09:34] yoannmoinet commented on #49
Waiting for @MalithHatananchchige PR to be updated.

[2017-10-06 23:15] UniquePassive commented on #49
I was looking for this feature too, so I added it and made a PR: https://github.com/yoannmoinet/nipplejs/pull/59, could be useful if @MalithHatananchchige hasn't got a fix for his PR close at hand.

[2017-11-16 01:13] LinuxCircle opened #60 "Unable to scale up distance"
Hi I need a more precise distance, to control my RC car with this.
It works ok with out of 100 distance, but for turning left and right I need 10x more accuracy, because the distance is linked to the angle of the direction of the car.
Is there a way to modify it to show value between 0-1000 instead of 0-100?

I cannot simply multiply the distance by 10, because when it maps to servo angle, it will

[2017-11-22 18:49] adriancabouli opened #61 "nipplejs get stuck in iphone when switch app"
hi, i am having troubles with the plugin. I made a game, and use the nipplejs like a joystick. When, (by mistake) the user switch the app to another, or try to, and in that moment is moving the joystick, when returns back to the app, the joystick became stuck in the last position that it was. And then is no way back, it always keep like that. I made a code that if i leave completly the app, (it ca

[2017-11-22 19:57] adriancabouli commented on #61
i also made an easy test to reproduce the error. If a alert("bla bla") box appear when i am moving the joystick it will get stuck too! (always in iphone i am testing). thks!!

[2017-11-27 17:17] adriancabouli opened #62 "SOLUTION TO SOME ERRORS LIKE, LEFT SCREEN WHILE NIPPLE PRESSING, TOO MANY PRESS EVENTS, ETC"
$(document).on('touchcancel', function(event) {
		CREATE_JOYSTIC()
	});

   CREATE_JOYSTIC=function(){

		if (TheJoystick){
			TheJoystick.destroy();
		}

		createNipple('static');
	}

     createNipple =function(evt) {
		var s = function (sel) {   return document.querySelector(sel); };
		var sId = function (sel) { return document.getElementById(sel); };
		var joysticks = {
			static: {
				zone:

[2017-11-27 17:17] #62 closed

[2017-11-27 17:25] adriancabouli commented on #57
this.createNipple =function(evt) {

		////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////
		///JOYSTIC // CONTROLES
		////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////

		var s = function (sel) {   return document.querySelector(sel); };
		var sId = function (sel) { retu

[2017-11-27 17:31] yoannmoinet commented on #60
What's your code to get this kind of 0.1 precision?

The precision of pretty much all events is like 0.0000000000001, so you should be ok with this.

From the demo, you can see the force and the angle events that are very precise.

<img width="240" alt="screen shot 2017-11-27 at 18 30 36" src="https://user-images.githubusercontent.com/597828/33280053-1e15f6a4-d3a1-11e7-957d-c3dd7f8a0d6c.png">

[2017-11-27 17:32] yoannmoinet commented on #61
I'll have a look as soon as I have time.

PR are more than welcome.

[2017-11-27 17:52] adriancabouli commented on #61
i just found the solution:
touchcancel event it fix the problem
    El lunes, 27 de noviembre de 2017 14:34:35 ART, Yoann Moinet <notifications@github.com> escribió:

I'll have a look as soon as I have time.

PR are more than welcome.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-11-27 17:56] adriancabouli commented on #57
touchcancel event it fix the problem!,

$(document).on('touchcancel', function(event) {
   REMOVE_AND_CREATE_JOYSTIC()	// or whatever...
});

[2017-11-27 17:56] adriancabouli commented on #38
touchcancel event it fix the problem!,

$(document).on('touchcancel', function(event) {
   REMOVE_AND_CREATE_JOYSTIC()	// or whatever...
});

[2017-11-27 17:57] adriancabouli commented on #61
touchcancel event it fix the problem!,

$(document).on('touchcancel', function(event) {
   REMOVE_AND_CREATE_JOYSTIC()	// or whatever...
});

[2017-11-27 17:57] adriancabouli commented on #33
touchcancel event it fix the problem!,

$(document).on('touchcancel', function(event) {
   REMOVE_AND_CREATE_JOYSTIC()	// or whatever...
});

[2017-11-27 17:57] adriancabouli commented on #30
touchcancel event it fix the problem!,

$(document).on('touchcancel', function(event) {
   REMOVE_AND_CREATE_JOYSTIC()	// or whatever...
});

[2017-11-28 09:09] yoannmoinet commented on #61
I'll be damned... did you test it in every issues you've answered?
Thanks a lot for finding this out anyway.
I'll think of a solution to add this in the library.

[2017-11-28 12:46] adriancabouli commented on #61
Hi! It was a pleassure! your pluging rocks!
At léast in my case in plugin static mode all the issues that i answered become fixed with touchcancel event. And for the user experience is imperceptible when you destroy and create new instance (in static of course)

Enviado desde mi iPhone

El 28 nov. 2017, a la(s) 06:09, Yoann Moinet <notifications@github.com> escribió:

[2017-11-28 14:33] adriancabouli commented on #61
HERE for iphone 7 and > (iphone x compatible), is my game using the plugin!, in the new release the error is fixed.
It would be great if my game is spread! Thks in advance!

https://itunes.apple.com/us/app/partners/id1294121944?l=es&ls=1&mt=8

[2017-11-30 00:54] tonyka commented on #61
@adriancabouli this works better for me:
[code]

[2017-12-01 19:25] dasilvacontin opened #63 "Pressure improvement"
You could get updates (even if the touch doesn't move) by listening to the 'touchforcechange' event. https://twitter.com/dasilvacontin/status/936675998246014976

[2017-12-12 19:49] worl44 opened #64 "after touching nipple whole website get Stuck on IOS Devices"
Hello,
greate Plugin but sadly only on IOS devices the whole website stuck after touching one nipple ( i use the static mode )  and must be reloaded. First i thought its only a Safari problem but the problem encounter also on Chrome (only on IOS devices ).

I already try

$(document).on('touchcancel', function(event) {
//do something()
});

like @adriancabouli mentioned in some other comments but

[2017-12-13 16:03] stonecompass commented on #64
Getting the same bug here :(

[2017-12-13 16:54] micah-boswell-aquabotix opened #65 "Static mode nipple in 'position: fixed' zone is broken by scrolling."
Does not account for scroll here: https://github.com/yoannmoinet/nipplejs/blob/0c982ce1fe25ae6d96a0765d48f0f348a030f960/src/collection.js#L349
And it does need to account for scroll in the case that the zone element has 'position' css set to 'fixed' (in which case nipple.position is wrong).

[2017-12-14 14:07] yoannmoinet commented on #64
Is there any error in the console?

[2017-12-14 14:08] yoannmoinet commented on #65
Hm... that'll be an interesting fix.

Thanks for reporting.

[2017-12-14 14:09] yoannmoinet commented on #60
Closing this as no more answer from you @LinuxCircle .

Feel free to re-open if needed.

[2017-12-14 14:09] #60 closed

[2017-12-14 14:16] stonecompass commented on #64
Not in my case at least.

[2017-12-15 15:37] worl44 commented on #64
in my case there is also no error or warning in the console. It seems to work correct.

[2017-12-18 10:06] stonecompass commented on #64
@yoannmoinet  Any idea what it could be or a workaround maybe?

[2017-12-18 12:26] yoannmoinet commented on #64
@stonecompass unfortunately, I have no iOS devices to test it on.

I'll see what I can do to reproduce the issue. For now, I'm affraid I don't know what could provoque this kind of freeze, especially if it's not throwing any error, and only happening on latest iOS version.

In the meantime if you could share your setup, it will help me once I get to test it on a virtual device.

[2017-12-19 07:42] stonecompass commented on #64
I've tried using an iPhone 6 with iOS 11.2 and an iPad using 11.2.1.
The problem happens in Safari and Chrome on both devices.
Hope that helps a little.

[2017-12-19 08:37] worl44 commented on #64
Im also using an Ipad 11.2.1. I allready tried on iPadian iOS 10. There it works.

[2017-12-19 08:45] yoannmoinet commented on #64
Thanks for the replies.

Did you test with the demo @stonecompass and @worl44 ?

[2017-12-19 08:51] stonecompass commented on #64
Yes, it seems as if it only breaks if you use the 'static' setting!

[2017-12-19 08:59] yoannmoinet commented on #64
all right, I'll have a look. Thanks for your help, both of you !

[2017-12-19 09:03] worl44 commented on #64
@stonecompass @yoannmoinet No, it breaks also in dynamic mode but there only the nipple stuck, but that mentioned allready in some other comments. Yes i try also the demo, there are the same problems.

[2017-12-19 09:41] yoannmoinet commented on #64
Good news, I'm able to reproduce it in the simulator!

[2017-12-19 09:42] stonecompass commented on #64
Awesome! :D

[2017-12-19 10:30] yoannmoinet commented on #49
Has been closed with #59

[2017-12-19 10:30] #49 closed

[2017-12-19 10:34] #61 closed

[2017-12-19 10:34] #64 closed

[2017-12-19 10:36] yoannmoinet commented on #64
Hey, I've pushed a new version that should fix this... can you confirm?

[2017-12-19 10:38] #30 closed

[2017-12-19 10:39] #31 closed

[2017-12-19 10:39] #33 closed

[2017-12-19 10:39] #38 closed

[2017-12-19 10:39] stonecompass commented on #64
It works! Thank you for the effort and quick solution!

[2017-12-19 10:40] #57 closed

[2017-12-19 20:10] worl44 commented on #64
@yoannmoinet sorry, but the bug still encounter in my case. Also i made a mistake i use a ipad with version 10.3.2

[2017-12-19 22:13] yoannmoinet commented on #64
Can you give me more details please?
I'll try on a different version of iOS, if I can.
But is it the exact same bug?

[2017-12-21 13:49] worl44 commented on #64
@yoannmoinet  So i don't know what details i should give you, because there is no error or something special, so i try to describe my usecase and more detailed the error that occur.

I have a website with more than 1  nipple. There are 5 nipple on the page.  After i touch one of these nipples the website cant scroll anymore or do something else it stuck and must be reloaded, but the nipples still

[2017-12-21 14:48] yoannmoinet commented on #64
@worl44 are you 100% you're using the latest version.

Can you reproduce the issue with the demo?

I'll need to have access to your setup/code if you want me to reproduce the bug.

[2017-12-28 09:13] yoannmoinet commented on #64
@worl44 anything new?

[2017-12-28 09:26] NarinLab commented on #21
Any update on this?

Just tried this on Angular 5.1.2, and nipplejs 0.6.8 but after import Manager from 'nipplejs'; and console log to Manager its says undefined

[2017-12-28 14:51] clark-stevenson commented on #21
@NarinLab

Do you mind if I ask you where you import this?

This is a generic question of Angular (sorry @yoannmoinet ), where do you put your import? Per file? Per  Module? I am struggling with this and I heard that, if you are not careful, all imports duplicate.  So if I import something into `my-crazy.module.ts` then import into `my-crazy.component.ts` I get multiple duplications of the same li

[2017-12-28 15:15] NarinLab commented on #21
Hi @clark-stevenson

I put the import statement on **pan-controller.component.ts**

Like this:

[code]

Hope this help

[2017-12-28 16:21] worl44 commented on #64
sorry , the holidays! I try to build a test website to reproduce the bug and give you access to this page. I try to make it in the next few days.

[2017-12-29 11:59] nik012003 opened #66 "[Feature Request] Add different joystick shapes."
I think it would be useful to add other shapes other than the circle, like for example square or custom rectangle.

[2018-01-02 16:03] yoannmoinet commented on #66
Thank you for this,
I think it is a duplicate of #9

Happy new year, cheers!

[2018-01-02 16:03] #66 closed

[2018-01-02 16:03] #23 closed

[2018-01-02 16:04] #13 closed

[2018-01-02 16:04] #15 closed

[2018-01-20 07:56] ramasilveyra commented on #38
This error is still present on the latest version while using multiple static nipples. The change shared by @boxabrain fixes the issue, thanks!

[2018-01-20 13:50] yoannmoinet commented on #38
@ramasilveyra can you share more details on how this is still an issue?
How can I reproduce?

Thanks.

[2018-01-23 08:26] hippiewho commented on #42
Hi,
I've taken a shot at it, although i'm not completely sure if I enforced all events to reflect that an axis is locked.

[2018-02-05 02:32] kkimdev opened #68 "es6 module support"
It would be great if we can use es6 module import to use nipplejs

[2018-02-11 14:25] mavkci opened #69 "Joystick is off on mobile version"
This is what happens when I tried to open my site in mobile browser.
https://imgur.com/a/dBvtZ

[2018-03-24 11:41] Ojas-Gulati opened #70 "Change the relative size of the inner circle"
feature-request : AFAIK, the inner circle is always 50% of the size of the outer circle.
Would it be possible to change the size of this circle? e.g. make it 20% of the size of the outer circle?

[2018-03-26 13:25] yoannmoinet commented on #70
duplicate of #53

[2018-03-26 13:25] #70 closed

[2018-03-26 13:25] yoannmoinet commented on #69
I'll have a look.

[2018-03-26 13:26] yoannmoinet commented on #68
I'll be working on a rewrite of the lib in a not so far future (hopefully).

It is in great need of a refresh.

[2018-03-31 20:56] elmarti commented on #68
[code]
works fine for me, deconstructability would be nice though ie
[code]

[2018-03-31 21:22] yoannmoinet commented on #68
Thank you @elmarti for testing this out.

When you say:

Out of curiosity, how that would be nicer than what's already working?

[2018-03-31 21:55] elmarti commented on #68
It seems to be a common design pattern with ES6, and I've just gotten used to seeing it over the default export so I think I naturally suggested it. I believe the actual reason for doing it is to make refactoring/extending easier and explicitly only importing the code you need which can be utilized in optimisation.. I suppose it's fine the way it is and my suggestion is largely anecdotal!

[2018-03-31 22:23] yoannmoinet commented on #68
I see your point, what do you think about :
[code]

That would work I suppose and it's looking good 😄

[2018-03-31 23:50] kevzettler commented on #31
I am seeing this happen with `nipplejs@0.6.8`

I think this only happens `dataOnly: false` and the DOM elements are rendered.

There are now error warnings thrown.  The behior that happens is the joy stick UI DOM elements just freeze or lockup, The joystic UI remains visible on screen and cannot be manipulated.

[2018-04-01 06:30] elmarti commented on #68
I can confirm that works and looks good to me!

[2018-04-01 07:21] elmarti opened #71 "Does not work directly on video element"
In this instance, the joystick triggers, but does not show when `zone` is an `HTMLMediaElement`, nice workaround is to wrap the video in a div and use that with 100% height/width set on the video.

I may have a look into if I have time in the future, but as it stands I thought it would be worth posting the above for anyone who gets into my position.

[2018-04-05 08:18] yoannmoinet commented on #71
Thank you for reporting this.
I'll have a look too when I have some time.

[2018-04-10 12:02] yoannmoinet commented on #68
Closing this since it's been covered, and actually already working.

[2018-04-10 12:02] #68 closed

[2018-04-12 05:31] kevzettler commented on #31
great find @robertlong

[2018-04-12 20:17] robertlong commented on #31
I've done some more research today. It looks like the second `touchend` is not fired on mobile Safari or Mobile Firefox on Android when you do a slow double tap. This causes the second nipple element to get stuck.

[2018-04-12 23:14] robertlong commented on #31
I ended up getting stuck on this. It probably has something to do with `event.preventDefault()` or returning false from an event handler, but I couldn't figure out what handler was causing the issue. Most of the occurrences of this issue can be solved by setting `fadeTime: 0` so I'm going to stick with that for now.

[2018-04-20 08:05] psykokwak-com opened #72 "Joystick does not "end" and lock"
Sometime the "end" event is not triggered and the nipple does not disapear. I have to reload the page.
However, the "remove" event is always triggered.
Is there a way to force the nipple destruction in the "remove" event ? I tried "nipple.destroy()" without succes.

Here my source :
`	var joystick = new nipplejs.create({
				zone : document.getElementById('mjpegplayercontainer'),
				color : 'blue

[2018-04-20 14:11] kkimdev commented on #68
@elmarti that's not es6 module style.

@yoannmoinet I noticed that you created es6-upgrade branch https://github.com/yoannmoinet/nipplejs/tree/feat/es6-upgrade and worked on that.  Will it be merged to master?

[2018-04-20 14:35] yoannmoinet commented on #68
@kkimdev yes, I'm  working on something to use an up to date development stack.
Feel free to have a look :)

@ramachandrajr, @elmarti you can load modules with an URi.
It's just that NippleJS doesn't support it out of the box.

It was working for others because they were using a transpiler like babel or bundling their code with webpack.

Once I'm done with the small refacto, it will work out of th

[2018-04-20 15:12] kkimdev commented on #68
@yoannmoinet Thanks! :)

I think ideally umd should be able to produce es6 module export, though due to the lack of es6 module feature detection, it can't be the same file though.

[2018-05-05 09:11] chukwu opened #73 "Click event"
What are the chances of getting a **click event listener** just like a real joystick? Atleast on the **static mode**. Joystick isn't much about moving around. Click is a very important part of a joystick simulation.

Can you include a position X and position Y minimum and maximum. Current values differs vastly depending on the position of Zone container. I think i can add a function to fix the pos

[2018-06-06 12:18] yoannmoinet commented on #73
I'm not sure I do understand your request.

Do you mean if I only press down and up immediately?
What would be the use case of doing this on a virtual joystick?

[2018-06-06 21:30] yoannmoinet commented on #72
I'm closing this as #74 should have fixed this.
If you still encounter this issue using `0.7.0+` feel free to reopen.

[2018-06-06 21:30] yoannmoinet commented on #42
Thank you @hippiewho, the feature has been added to `0.7.0`!

[2018-06-06 21:30] #42 closed

[2018-06-07 16:30] chukwu commented on #73
Im working on project that simulates a real iot joystick. Joysticks have a click-like action when you hold down. This plugin does not support it

[2018-06-08 06:16] wbelhomsi opened #75 "joystick breaking when opening notification panel"
Thanks for the great plugin.. I'm working on a cordova project (android) and using your plugin as my primary joystick.. If you move the joystick with one hand and open the notification panel with the other, the joystick will freeze and stop working.. can you please check it out? Thanks!

[2018-06-08 06:26] wbelhomsi commented on #75
Ok so i noticed there is an update.. ill update and try it again today and come back in case it didn't work

[2018-06-08 08:30] yoannmoinet commented on #73
You should be able to easily  implement this from outside the library, and in my humble opinion, you should do it this way.

I think I might miss the point of having this mechanic inside the core of the lib.

If you still think that this should be implemented from the library stand-point, feel free to submit a PR, I'll gladly review it.

Thank you very much for your interest, I'm closing this.

[2018-06-08 08:30] #73 closed

[2018-06-08 08:32] yoannmoinet commented on #75
The update might be fixing this specific behavior.

It implements a better handling of the cancel event which should be specifically tested by this usecase.

Please, keep us updated!

[2018-06-11 19:46] wbelhomsi commented on #75
0.7.1 fixed the issue!
Thanks yoan

[2018-06-11 19:46] #75 closed

[2018-06-26 11:05] Latence132 commented on #9
Hi yoannmoinet,
Firstly thank's you very much for nipplejs, it is awesmone! 👍

I don't manage to change the display of the joystick. I tried to change the front joystick with an image
![button](https://user-images.githubusercontent.com/30188846/41902971-ff47e8f6-7934-11e8-9bd5-1f8997a7a0c4.png)

 I am on
- nipplejs@0.7.1
- nuxt-edge@2.0.0-25481399.feabdca + vuejs
- vuetify@1.0.19

The HTML code is

[2018-06-26 12:04] yoannmoinet commented on #9
@Latence132 hey there.

I think your CSS selector is wrong, can you try this instead?

[code]

[2018-06-26 14:14] Latence132 commented on #9
It work !
I just have to ajust my CSS,

thank you :)

[2018-06-29 15:55] rherrajan opened #76 ""threshold is no longer exceeded" event?"
Is there some kind of way to listen to a removal of state "plain:up" (when the threshold is no longer exceeded)?
For example when the user changes from up to right than I would like to know that he doesn't press up any more.

[2018-07-02 17:56] mfosse commented on #39
I found that dispatching a resize event with:
window.dispatchEvent(new Event("resize"));
solves this issue for me, since waiting to instantiate the joysticks until it was visible was not preferable for me

[2018-07-21 11:26] grinmax opened #77 "Relative value"
@yoannmoinet Hi, tell me please, how i can use "vw" instead "px". I want can scale nipple for some devices. Thanks!

[2018-07-21 12:36] yoannmoinet commented on #77
A very simple google search bring me to [this](https://stackoverflow.com/questions/28295072/how-can-i-convert-px-to-vw-in-javascript).

Hope that helps.

[2018-07-21 12:36] #77 closed

[2018-07-24 08:50] grinmax commented on #77
@yoannmoinet thanks, but I'm trying to replace 'px' with 'vw' in your js-code.
Styles work well http://joxi.ru/E2py9xMT94aOPA?d=1, but the position http://joxi.ru/Dr8BO7oC4JzkL2?d=1 does not work, as I'm used to, the nipple is very sensitive when moving. Can you help me with this? Replace the 'px' with "vw" and see what happens. Thanks!

[2018-07-25 08:08] grinmax opened #78 "Abut issue #77"
@yoannmoinet thanks, but I'm trying to replace 'px' with 'vw' in your js-code.
Styles work well http://joxi.ru/E2py9xMT94aOPA?d=1, but the position http://joxi.ru/Dr8BO7oC4JzkL2?d=1 does not work, as I'm used to, the nipple is very sensitive when moving. Can you help me with this? Replace the 'px' with "vw" and see what happens. Thanks!

[2018-07-25 08:19] yoannmoinet commented on #78
I've already shared with you what you needed to achieve what you're trying to do.

Please stop opening issues for something you should ask on StackOverflow.
This is not an issue with my library.

If you need `vw` instead of `px`, fork the repo and do the conversion.

Thank you.

[2018-07-25 08:19] #78 closed

[2018-07-26 08:52] PixelsCommander commented on #44
@nvl1109 why not https://facebook.github.io/react-native/docs/webview ?

[2018-07-26 11:38] loopmode commented on #44
Hi.

I just released a react wrapper - it was fairly simple and straight-forward.
While I have nothing to do with react-native, I guess there shouldn't be much trouble doing necessary adjustments.

See https://www.npmjs.com/package/react-nipple
See https://github.com/loopmode/react-nipple/blob/master/packages/react-nipple/src/ReactNipple.js

[2018-07-27 12:45] yoannmoinet commented on #44
There is a `dataOnly` mode with the library, I don't remember completely, but in theory it shouldn't go through the dom.

Maybe you could leverage it somehow.

Let me know how it goes.

[2018-07-28 20:08] wrinkledcheese commented on #44
This would be awesome!  There's NOTHING that works for me™ in the controller input area.  All I could find were two libs about a year old that depended on es2015 babelrc presets and after 15 minutes of trying the wife and kids required attention.  I just want a joystick for the Arduino robot my  sons and I are building.  I was hoping to cobble together a Bluetooth remote for android in a weekend.

[2018-07-31 07:39] FWDInnovations opened #79 "Feature request: tap & double-tap events"
It would be great if there were native events like tap and double-tap.
That way it would be easy to use the library not only as a plain joystick, but also to allow click/select type interactions.

[2018-08-10 09:46] patrickheuel commented on #64
Hey, do you guys have any update on this? I'm facing the same issue in version 0.7.1.
After touching the nipple on an iOS device (11.4.1), nothing else is touchable until I refresh the page. Destroying the nipple "ontouchend" doesn't work for me either...

[2018-08-11 18:08] lazerwalker commented on #72
@yoannmoinet Arg, I'm afraid I'm still seeing this happen on `0.7.1`.  (on Mobile Safari, iOS 11.4.1)

I'm going to try to slim down my code into smaller reproducible example, but in the meanwhile, I'm curious if anyone else has still been seeing this happen?

[2018-08-11 18:13] lazerwalker commented on #64
@patrickheuel Yep, I'm still running into it as well. Starting to debug, but hopefully someone with more context will have good ideas.

[2018-08-11 18:16] lazerwalker commented on #72
Okay, I've been able to reduce this fairly regularly in the demo linked from the README, although not as frequently as in my own app (where it happens consistently after ~5 seconds of normal use). On the demo screen, I'm able to most easily trigger it when using multitouch (basically swiping the demo area frantically with both thumbs to spawn and despawn lots of joysticks in a short time).

[2018-08-13 11:54] lazerwalker opened #80 "Rename this library?"
Hi!

First of all, thanks so much for making this. It's easily the best JS virtual joystick library I'm found — everything about it, from the API to the docs to the actual UI it provides, are a joy (no pun intended :P) to work with.

That said, I wonder if you'd consider changing the name? From the "nipple" terminology, to the peach flesh-colored joystick in the logo, a lot about the library's bra

[2018-08-13 11:58] lazerwalker commented on #72
Let me know if me continuing to rant here isn't helpful (I'm hoping to nail down a consistent repro + fix myself), but if anyone else is jamming on this, I've managed to reproduce it in the online demo on desktop with a mouse, so it appears to not be exclusively related to touch handling and touch events.

[2018-08-13 13:07] yoannmoinet commented on #72
@lazerwalker don't worry about your rant, it's helpful.
Having as much history as possible on this issue will end up helping us fixing it.

I don't have much time lately to really investigate on the issue, but I'm very glad someone is trying.
Do not hesitate to add comments, re-open issues, as well as adding as much info as you can get.

Cheers, and again, thank you!

[2018-08-14 08:08] Aarbel opened #81 "Don't understand in the Documentation how we access the joystick instance"
Hi @yoannmoinet, thanks a lot for this very clean library.

One detail : i don't really understand what is the `joystick` instance in your documentation, and how to access it.

- It's not inside `manager`
- When we create a `manager` we don't know how the inner joysticks will be named
- I case we use two or more joysticks, We don't know if we should create a manager with multiple joystick inside,

[2018-08-14 08:51] yoannmoinet commented on #81
Hi @Aarbel, I agree, it's not that clear.

If you look at the [Events](https://github.com/yoannmoinet/nipplejs#events) part of the doc, you'll find an example showing how to get an instance on creation.

This is one way of getting an instance.

The [manager](https://github.com/yoannmoinet/nipplejs#nipplejs-instance-manager) also have an array of ids in `manager.ids`.
You can then use [`manager.get

[2018-08-14 08:51] #81 closed

[2018-08-24 11:59] TheCodeCrafter commented on #80
How about JoyJS? I mean, there's so many options using just the word Joystick 😆

[2018-08-27 08:11] lazerwalker commented on #80
I like JoyJS! Some other ideas off the top of my head:

- StickJS
- AnalogJS
- MoveJS

I think I personally like JoyJS the best out of all of these, but I figure brainstorming can't hurt.

[2018-08-27 13:45] lazerwalker commented on #72
I spent a bunch of time diving into this, but came up blank.

@robertlong's suggested fix in https://github.com/yoannmoinet/nipplejs/issues/31#issuecomment-380972237 appears to work for me (just passing in `fadeTime: 0`), which means I'm probably not going to dig more into this right now. I'm hoping I'll be able to debug more later when/if I have time.

In my case, it appeared that the high-level

[2018-08-28 11:27] VitorHugoAguiar opened #82 "More than one nipple get stuck"
Hi
I have two nipples, each on a different div.
` <div id="left"></div>`
`<div id="right"></div>`

when i try to use both nipples simultaneous, they get stuck.

`var speed = nipplejs.create({`
      `zone: document.querySelector('#left'),`
      `color: 'green',`
      `position: { bottom: '18%', left: '12%' },`
      `mode: 'static',`
      `lockY: true,`
      `restOpacity: 200,`
      `fadeTime

[2018-08-28 14:34] dcholth commented on #80
Please do not rename this library.  Reading bug reports like Issue #82 brings a small amount of glee to my day.

[2018-09-07 08:29] ldehaes commented on #64
I still have the same problem on iOS devices!
Are you still working on this?
I don't have enough experience to debug this myself ...

[2018-09-09 06:22] zoltan-mihalyi opened #83 "Allow getting force as a vector"
It should be useful to return a forceVector property in the move data.
The forceVector should be an { x, y } object, where x and y is between -1 and 1 (or can grow bigger if the touch is outside the circle).
Right now I calculate it from angle.radian and force, but I suppose these are calculated from vector representation.

[2018-09-10 16:44] lazerwalker commented on #64
@ldehaes Check out https://github.com/yoannmoinet/nipplejs/issues/72#issuecomment-416231566. I wasn't able to solve the problem, but someone else's quick fix did the job well enough for me to stop looking into it.

[2018-09-11 07:17] ldehaes commented on #64
@lazerwalker adding the quick fix did not do the job for me, it is also a different issue than the one described here.

[2018-09-21 16:05] ollwenjones commented on #80
I didn't even make the connection to a human nipple, since I was just playing with the blue demo, until a coworker immediately responded "nswf!" to my slack. There are a few other non-fleshy uses of the word, after all, e.g. bicycle spoke nipples. Short of a rename I think adjusting the branding colors would help. The name might be partly responsible for the libs fame, but it's also likely some wo

[2018-09-21 16:14] ollwenjones commented on #21
Maybe I'll start with this
https://github.com/Microsoft/dts-gen and see what I get...

[2018-09-24 11:57] #82 closed

[2018-09-26 17:45] ollwenjones commented on #83
I'm doing something similar, and thought about contributing this, but the [x, y used internally to get the angle](https://github.com/yoannmoinet/nipplejs/blob/b076c423e775b2838d2b3e432c82f81e4cef7c08/src/utils.js#L13) are dependent on the joystick size, so they aren't normalized the way force is, so there are advantages to just calculating them based on the normalized force as well.

[2018-10-05 01:38] TheCodeCrafter commented on #80
Ah. Yay. Looks like my idea held out 👍

[2018-10-05 08:09] yoannmoinet commented on #80
@lazerwalker JoyJS is good, but it's already taken on NPM https://www.npmjs.com/package/joyjs
Even if we can go with the capitalized one https://www.npmjs.com/package/JoyJS, I don't think it's a good idea since it can be really confusing.

So we have to go with something else.

What about Nipply?
So can still keep the previous tongue-in-cheek name without being nsfw with it.

[2018-10-05 10:42] ezelohar commented on #80
@yoannmoinet don't give up to the pressure of few people.
What is there to be uncomfortable, I don't get it.

[2018-10-18 13:16] patrickheuel commented on #64
@lazerwalker @yoannmoinet quick fix didn't help for me neither... Any other ideas?

[2018-10-18 14:14] paladin-t commented on #64
The same issue was driving me mad, until using the `dynamic` mode. And here's my workaround to simulate `static` by assigning the position explicitly

[code]

Really hope someone can explain the behaviour.

[2018-10-22 18:39] jeeftor commented on #80
I believe the name is rather descriptive.

[2018-10-22 19:21] TheCodeCrafter commented on #80
I don't know. I like the current name where it is, to be honest. I don't see it as necessary to change the name, but I also see where @lazerwalker was coming from.

[2018-10-23 09:03] lazerwalker commented on #80
So far, the strongest opposition to this is "eh, I don't see what there is to be offended about".

If this change is made, a few things have to happen:
* Some stuff has to change in this repo (which, as mentioned, I'm happy to do).
* Some other bureaucracy has to happen outside this repo (e.g. updating npm)
* Individual consumers of this library will need to probably update their package.json file

[2018-10-23 10:02] lazerwalker commented on #80
For someone who allegedly doesn't think at all about the name, you sure do seem to care a lot about it. I agree it would be great if we could focus on the project itself — which is why changing the name quickly and moving on is far preferable to sitting here arguing all day.

I'm trying to figure out what objections you have to a name change other than not understanding why it matters, and perhaps

[2018-10-23 10:30] lazerwalker commented on #69
@mavkci maybe you've figured out a solution or workaround by now, but in my own experience I've found issues like this are often caused by CSS.

Because the joystick element is positioned via `position: absolute`, its immediate parent should have `position: relative` or else you'll likely see unexpected behavior.

[2018-10-23 10:43] ezelohar commented on #80
@lazerwalker if you have so much time to argue with a random person over a script name,  you probably have time to develop it yourself and give it any name you want.

_For someone who allegedly doesn't think at all about the name, you sure do seem to care a lot about it._

You wanted to say what? When did I say I don't think about the name? I like the name and would like to continue using NipplesJ

[2018-10-23 12:21] yoannmoinet commented on #80
This is getting out of hand.
I'm closing the issue right now.

There will be no change of name, it's asking too much work and too many side-effects that we can't easily predict.

If you really are offended by the name of the library, feel free to fork it and publish it under a name you like.

But I just want to add that I really don't accept seeing stuff like this posted [on Twitter](https://twitt

[2018-10-23 12:21] #80 closed

[2018-10-23 12:29] lazerwalker commented on #80
I'm sorry for any pain that was caused with that tweet. I hope you can understand my frustration in having people in this thread tell me that my opinion is invalid, but expressing that publicly was a mistake. I was very careful to keep the discussion within this thread civilized, something I wish I could say of others in this thread.

I understand your frustration, even as I disagree with your dec

[2018-10-23 12:30] ezelohar commented on #80
@lazerwalker I am so sorry for hurting your feelings by not agreeing with you. My bad, I didn't know you were soo delicate flower.

[2018-10-23 12:32] lazerwalker commented on #80
(@yoannmoinet, I may recommend locking this thread to prevent future replies)

[2018-11-03 13:25] hamashexler opened #89 "buttons don't work"
I used to use joystick.js  I used nipple.js both have the same bug even on the demo you can just understand what I mean just open the demo on A touch phone buttons inputs wont wont work just the just the joystick will work.

[2018-11-06 05:43] gowdruNikhil opened #90 "How to make Joystick visible always at one place and make use of it"
i have a requirement where i have to use joystick to move robot around, but the joystick should be visible at same place always both in desktop as well as in touch screen to operate.

i have been referring to this
[React Joystick Component
](https://www.npmjs.com/package/react-joystick-component)
 but it doesn't give required co ordinates values as expected.

am new to JS and trying to implement t

[2018-11-06 07:08] gowdruNikhil commented on #90
hi all,

Found a package [react-nipple
](https://www.npmjs.com/package/react-nipple) which uses nippleJS this works fine by adding css

.back {
    background: black !important;
}

.front {
    background: black !important;
}

thanks

[2018-11-06 07:08] #90 closed

[2018-11-29 18:33] dr-okra opened #91 "activate a press programatically"
Hi, I'd like to have the joystick react to a press-hold event.
To achieve this I am using a  RAF function with a counter.
Is there a way to activate a press programatically?

[2018-12-06 16:03] jim-at-jibba commented on #44
I have written a React Native component that uses this package.
@wrinkledcheese let me know if there are any other features you want I will look to add them.

It can be found here: https://www.npmjs.com/package/react-native-game-pad

[2018-12-11 09:06] #21 closed

[2018-12-17 21:50] Steckdoserich opened #93 "Joystick gets stuck on status bar in iOS"
On all of my Apple products (iPhone SE, iPhone 7, Mac mini) the joystick gets stuck. What you simply have to do is to drag the joystick to the top menu/status bar and then release the finger/left click. After that the joystick gets stuck in the last position. To release it you have to start a new touch/click event.

Did anyone else experienced this problem? Is there a workaround?

[2018-12-23 15:36] yoannmoinet commented on #93
Did you get this behavior in one of the example we have?

Because I could not reproduce the issue on iOS Simulator, which is the only way I have to test iOS devices.

Please reopen with some testable code.
Thank you.

[2018-12-23 15:36] #93 closed

[2018-12-23 15:37] yoannmoinet commented on #91
I'm not sure this is related to a feature of the library, if it is, please re-open and give more details.
You should be able to find your answer on Stack Overflow if I'm not mistaken.

[2018-12-23 15:37] #91 closed

[2018-12-23 15:38] yoannmoinet commented on #89
I couldn't reproduce the issue with the devices I have.

Please give me more details about what device/code you are using and re-open the issue if needed.

[2018-12-23 15:38] #89 closed

[2018-12-23 15:42] yoannmoinet commented on #72
I'm still not able to reproduce the issue.

Feel free to re-open once you have more details and some clear repro steps.

[2018-12-23 15:42] #72 closed

[2018-12-23 15:44] yoannmoinet commented on #71
Media tags are not container tags. So it's fair to not consider this as a bug or an issue.

You should wrap your media in a div, and use that div as a container.

[2018-12-23 15:44] #71 closed

[2018-12-23 15:45] yoannmoinet commented on #69
Couldn't reproduce the issue and missing details.
Closing until more is added.

[2018-12-23 15:45] #69 closed

[2018-12-23 15:47] yoannmoinet commented on #39
Many solutions have been given for this issue.
I'm closing this.

[2018-12-23 15:47] #39 closed

[2018-12-23 15:49] yoannmoinet commented on #65
I'll need an example where the issue occurs.
Until then, I'm closing this.

[2018-12-23 15:49] #65 closed

[2018-12-23 15:52] yoannmoinet commented on #76
I think this can be implemented from outside the library.

Simply keep track of the previous `plain` event triggered, if a new one is triggered you'll know that the other one isn't active anymore.

If there are any strong blockers, feel free to re-open.

[2018-12-23 15:52] #76 closed

[2018-12-23 15:53] yoannmoinet commented on #79
I think that this is fairly easy to implement with basic native HTML events.

[2018-12-23 15:53] #79 closed

[2018-12-23 15:56] yoannmoinet commented on #52
If this is still needed, feel free to re-open with a use-case.

[2018-12-23 15:56] #52 closed

[2018-12-23 15:56] yoannmoinet commented on #9
no need to track this. I'm closing.

[2018-12-23 15:56] #9 closed

[2018-12-23 15:58] yoannmoinet commented on #44
@jim-at-jibba proposed a solution.

I might get a shot at this later. Offer a bit more deeply integrated solution for React/React-Native.

[2018-12-23 15:58] #44 closed

[2018-12-23 15:59] yoannmoinet commented on #63
Indeed. The need for it might not be there yet.
I'm closing for now.
Feel free to re-open if you really need this.

[2018-12-23 15:59] #63 closed

[2018-12-24 00:02] Steckdoserich commented on #93
In the gif below you can see what I mean. This behavior leads to a stucked stick on some of my mobile devices.
![ios_nipplejs](https://user-images.githubusercontent.com/14337752/50388441-e853ed00-0716-11e9-9359-e185a907e853.gif)
If I can support you with any information, then let me know.

[2018-12-24 08:31] yoannmoinet commented on #93
Also, what kind of iPad, iOS do you use?

[2018-12-24 11:55] Steckdoserich commented on #93
Thanks @yoannmoinet for having a look into it!
The gif was in the safari (12.0.2) on my Mac (Version 10.14.2).

My first experience with this bug was in my App. I'm currently using your plugin to bring a joystick into my Cordova App. My first step was to check if the problem was on my side. So I just build a Cordova App with your third test (index3.html) in it. As you can see in the gif below, thi

[2018-12-24 19:39] elmarti commented on #71
I'm no longer involved in the project using this. I agree with you, but maybe the documentation should be explicit about this as a typical user will not be aware of/care what NippleJS does at the DOM level.

[2018-12-24 23:38] yconst commented on #54
How come this feature is missing? It's really elementary stuff...

[2018-12-25 10:33] yoannmoinet commented on #54
@yconst I don't know. Maybe with a better attitude it could be implemented by the owner later.

In the meantime, feel free to do it yourself and even submit a PR for it.

Cheers.

[2019-01-03 15:59] otoinsa opened #94 "joystick in 'dynamic' mode gets stuck on iOS"
Steps to replicate:

1. Create iOS app with WKWebView running nipple js in the webview side of things
2. Init nipple js in runtime with mode: 'dynamic'
3. Tap 3 times fairly quickly on the nipple area you've set up and joystick will get stuck

I've noticed that this won't happen in 'semi' mode.
Yes, I have looked at the previous threads and setting fadeTime to 0 does not help.
Also no errors in js

[2019-01-04 00:17] bhoffman314 opened #95 "[BUG] Building with Ionic Framework and NippleJS (Angular/Typescript Issues)"
**Describe the bug**
When building with Ionic framework some problems are flagged as TypeScript errors even though they work properly on a web client. These issues will completely remove the ability to build an Ionic app to a platform other than web. I found work-arounds for them and figured documentation here may be helpful.

**To Reproduce**

- Create an Ionic project and use a Nipple joystick
-

[2019-01-15 04:35] rkdrnf commented on #94
Not exactly this but similar thing also happens in the example page.
if you click quickly with dynamic mode, joystick image does not disappear anymore.
I checked that "start" event is called but no "end" event called when this happens.
tested with iPhone X

[2019-01-22 16:37] yoannmoinet commented on #94
Thank you for reporting this, I'll have a look.

[2019-01-31 14:34] nielsswinkels commented on #95
Got this error when updating to @ionic-native/core 5.0.0 (coming from 4.7.0 where it worked fine)

[2019-02-03 12:34] moahrs opened #97 "How Install in Others Distros"
My distro, like debian, ubuntu, raspbian, do not have npm command... how i install ? I downloaded the zip and go to github site, but do not have any... can you help me?

[2019-02-09 04:43] sjml opened #99 "[FEAT] Include TypeScript definitions in npm"
**Is your feature request related to a problem? Please describe.**
The project has TypeScript definitions, and they're pointed to in the `package.json` file, but not in the uploaded version to npm.

**Describe the solution you'd like**
Add `types/index.d.ts` to the files that get uploaded to npm.

**Describe alternatives you've considered**
The type files can get manually added to a project, but s

[2019-02-09 04:48] sjml commented on #99
Just made a pull request that should handle this.

[2019-02-12 19:29] manmohanbishnoi commented on #38
I can notice this bug on iOS (Chrome and Firefox)
But Android browsers work well without any issues.

[2019-02-14 09:35] #99 closed

[2019-02-14 09:37] yoannmoinet commented on #97
https://www.npmjs.com/get-npm

[2019-02-14 09:37] #97 closed

[2019-02-14 09:38] yoannmoinet commented on #99
Thanks @sjml !

[2019-03-10 16:47] iodev commented on #95
fixed in commit 4f1bdbdd8dcd60e549adb830ab2866d99d22c94a

[2019-03-10 16:48] iodev commented on #94
fixed in commit cf126f2e164b6244a9474be6d448bd11da19acea

[2019-03-10 16:50] iodev commented on #54
see if what I added in commit 853aaf3a4080bbffe0df52d9682517355a50c895 fixes it for you

[2019-03-10 16:55] iodev commented on #53
see if what I added in commit 853aaf3a4080bbffe0df52d9682517355a50c895 fixes it for you

I use the nipple.raw.position to see how far it is pulled beyond the origin of the nipple, for use as a touchpad, in data-only mode, with no nipple showing.  You could then trigger the size of the css dynamically, from js code, when over the 50 (> Math.abs(45))

[2019-04-08 20:44] Steckdoserich commented on #94
Does your fix also fixes my problem #93?

[2019-04-17 18:54] htshah opened #104 "[FEATURE REQUEST] Square shape for joystick movement"
The current version always creates a circular region for the joystick to move. But, in my use case(Remote Controller for drone), I need a Square region wherein the joystick can move.

**This is what my suggestion is:**
[code]
**Expected output**
The smaller inner circle should be able to move in a square shaped region

Thank you!!:smile:

[2019-05-04 09:35] pircjernej opened #105 "Use latest commit"
If I use : npm install nipplejs
I get installed version 0.8.1
But I need fix for typescript ionic:
https://github.com/yoannmoinet/nipplejs/commit/4f1bdbdd8dcd60e549adb830ab2866d99d22c94a
How I can install version with this commit?
Also if is posible : https://github.com/yoannmoinet/nipplejs/pull/96

[2019-05-08 09:41] #94 closed

[2019-05-08 09:41] #54 closed

[2019-05-08 09:48] yoannmoinet commented on #105
I've published `0.8.2` which is the latest version and has 4f1bdbd in it.

#96 isn't ok to be merged, so it won't be there since I'm closing it, the author hasn't responded to my comments.

Feel free to have a go at the feature if you want to add it to the lib.

[2019-05-08 09:48] #105 closed

[2019-05-08 09:50] yoannmoinet commented on #95
has been published in `0.8.2`.

[2019-05-08 09:50] #95 closed

[2019-05-25 12:21] vimevim opened #108 "i need c# joystick"
I am not very familiar with this javascript, i just searched for a good joystick in C# language which i am making my project with this. Chek my repositories, i am trying to develope a joystick. Help me out pls.

[2019-06-02 09:16] yoannmoinet commented on #108
This is not an issue.

[2019-06-02 09:16] #108 closed

[2019-06-02 09:17] yoannmoinet commented on #108
If you need more info on how this works, you can have a look in there.
https://github.com/yoannmoinet/nipplejs/blob/master/src/nipple.js#L295-L398

[2019-06-14 13:08] Petr-Hric opened #109 "Multiple instances of joystick visible [BUG]"
**Bug description**
There is possibility of having multiple joystick instances visible for dynamic joystick demo (see "To Reproduce" section)

**To Reproduce**
Steps to reproduce the behavior:
1. Press left mouse button to summon (dynamic) joystick (when the cursor is in joystick demo area)
2. Preserve the mouse button pressed and move cursor out of joystick demo area
3. Release the mouse button
4

[2019-06-19 00:16] jeremiax opened #110 "Reset direction event"
Hello, although I am not a professional programmer, I whould like to thank you for this wonderful piece of code that is nipplejs (with the name included). I don't know if this is a bug or more a feature request.

I'm not sure but I think it's repeating a behavior very similar to the one expressed in #25, reproducible in your codepen demo. Steps to reproduce it:

- move joystick up => the dir:up ev

[2019-06-26 06:09] popoleeMaster opened #111 "[BUG] lockX / lockY don't lock the angle"
So I made a project, where i locked my nipple into x / y

[code]

it works nice in the HTML, but the angle/radians are still giving out direction including X and Y.

(demo)
https://stackblitz.com/edit/angular-fazjcf

if the joystick is locked, the angle should also be locked

[2019-07-16 01:26] sneko opened #113 "[BUG] Application does not respond on iOS when having 2 instances"
**Describe the bug**

Hi @yoannmoinet , this is more for record since I already saw some people complaining on being stuck on iOS without any reason.

In my case I'm using Vue.js and I have 2 pages where I use a joystick (inside a web component):
- the first page/component is cached (thanks to `keep-alive` tag)
- the second one is not, so it's fully reloaded each time

When I first went to the fir

[2019-07-16 07:33] yoannmoinet commented on #113
Thank you very much for the very detailed report!
It's really helpful, I'll check it out when I have some time.
In the meantime, feel free to look it up too.

[2019-07-16 07:38] yoannmoinet commented on #110
Hi, thanks for the heads-up, I'll have a look as soon as I have some time.

[2019-07-16 07:41] yoannmoinet commented on #111
I see, thanks for the report, I'll check it out once I have some time.

[2019-07-16 07:41] yoannmoinet commented on #109
I was able to reproduce the issue.
I'll work on it as soon as I have some time.

[2019-07-16 17:41] sneko opened #114 "[BUG] Using a virtual scroll makes gesture wrong"
**Describe the bug**

Hi @yoannmoinet ,

I'm currently using Ionic and they have a component named `ion-content` that acts like a "iframe" to handle user native clicks and scroll.

The main issue I have with Nipple.js is that your library remembers the joystick position according to the body (I guess).

So when I scroll into my `ion-content`, if I try to use the joystick the movement is really slo

[2019-07-16 21:29] sneko commented on #114
I succeeded in making it working.

For anyone in the same case, I override the position property of Nipple at the beginning of a touch to be sure the position is right when calculating the moves:
[code]

I don't know what could be a proper solution? Maybe give the user the opportunity to override the `getScroll()` located in utils?

I hope it helps :)

[2019-07-26 09:54] iceghosttth opened #115 "How to import to NodeJS?"
I tried `var manager = require('nipplejs').create(options);` in my index.js file but it yields "ReferenceError: window is not defined"...
Thanks!

[2019-07-26 11:03] iceghosttth commented on #115
I solved this by downloading the nipplejs.min.js and include it in the views file :)

[2019-07-26 11:03] #115 closed

[2019-07-27 06:30] sunildarji811 opened #116 "Not able to move properly inside nested div"
**Describe the bug**
If I place joystick inside nested container, then it's movement is weird.
I need to drag too much left or top to achieve left or top movement.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://codepen.io/sunildarji811/pen/ZgBevj]
2. See Static Blue joystick inside second div beside image.
3. try to move it around
4. See result

**Expected behavior**
It shoul

[2019-07-27 10:11] otoinsa commented on #94
The issue still persists for me, all of my iOS testers report the same thing, so I’ll be moving away from nipple.js, atleast for iOS.

I understand the creator of nipple.js does not have a iOS test device, the issue is hard to replicate on Simulator, but in a fast paced game on a real device it takes under a minute to crash on iOS 12.

I’m not sure where to start looking, probably somewhere around

[2019-07-27 10:14] Steckdoserich commented on #94
Which library are you going to use instead?

[2019-08-14 22:02] pazooki opened #117 "[FEAT] Getting X & Y values in relation to center of joystick instead of (left,right,up,down)"
I want to get the numerical value of X and Y in relation to the center of joystick circle. it's gotta be available in your lib just haven't figured how to get it out of it yet..

[2019-08-24 13:12] #109 closed

[2019-08-24 13:12] #111 closed

[2019-08-24 13:34] yoannmoinet commented on #116
I tried your example outside of codepen (without all the iframe bootstrap) and I don't see any problem.
If you're able to give me a basic html template to reproduce this bug, I'll reopen the issue.

[2019-08-24 13:34] #116 closed

[2019-08-24 13:39] yoannmoinet commented on #114
I can add a check at the beginning of the `start` event, see if the joystick still has the correct position saved.
Your solution isn't bad, I think I'll add something similar into the lib.
Thank you for the detailed report!

[2019-08-24 13:51] yoannmoinet commented on #114
Hm... in fact, it's really specific to how ionic is handling events.

Which is a very specific case, I can't find a real global solution for this.
I think that your workaround is enough for your particular case.

I'll close this issue for now, if it becomes a broader issue, I'll try to have a proper fix.

[2019-08-24 13:51] #114 closed

[2019-08-24 14:00] #110 closed

[2019-08-24 14:07] yoannmoinet commented on #117
I'm not sure what you need.

Would it be something like the following?
- `left` is `{x: -1, y: 0}`
- `right` is `{x: 1, y: 0}`
- `top` is `{x: 0, y: 1}`
- `bottom` is `{x: 0, y: -1}`

If so, you can fairly easily do it yourself from the events.

In any case, you should be able to calculate any values you need from what you have in various events and properties. It is straightforward.

For instance

[2019-08-24 14:07] #117 closed

[2019-09-06 09:14] AlexisTM opened #120 "[BUG] The nipple reference (base location) fails with libraries like VueJs."
**Describe the bug**
When we use VueJS, the page is dynamically built and can change (elements are shown/hidden or removed from DOM).

When one of these actions happens, the nipple doesn't catch the correct position event.

For probably the same reason, I can only get the static nipple to show.

When I "dropdown" an element with `v-if` or `v-show`, the position of the nipple changes on the page bu

[2019-09-06 09:28] AlexisTM commented on #120
Triggering the resize event corrects the offsets.

https://github.com/yoannmoinet/nipplejs/blob/2c541a60427a92b3b26582ed781fac99399b41f5/dist/nipplejs.js#L1229-L1245

[2019-09-06 09:56] AlexisTM commented on #120
A quickfix is to add the nipple position on each event for: `Collection.prototype.processOnMove` instead of caching the value.

[code]

which gives:

[code]

[2019-09-13 08:50] #120 closed

[2019-09-27 17:02] abobco opened #122 "[BUG]"
**Describe the bug**
Joystick is unresponsive when using pixi.js and iOS 13. The only events that seem to fire are 'start', 'end', ' added', and 'removed' .

**To Reproduce**
Steps to reproduce the behavior:
1. Attach the joystick to the same document as a pixi application
2. Access the app with an iOS 13 updated device
3. Try to move the joystick

**Expected behavior**
Joystick should move and tr

[2019-10-02 03:13] umeruma commented on #122
@abobco I got same situation with Phaser 3. Maybe my pull request fixes this bug.

[2019-10-02 20:47] jmartinezuk commented on #122
Same here with a THREE.js based game.

[2019-10-04 08:47] yoannmoinet commented on #122
Thanks for the detailed report, and thanks for the PR @umeruma !
I've commented on it.

[2019-10-04 08:50] yoannmoinet commented on #122
The faulty commit is probably https://github.com/yoannmoinet/nipplejs/commit/9a8a7b4
Going back to 0.8.1 would fix it temporarily, thanks @jmartinezuk !

[2019-10-27 18:43] Steckdoserich commented on #93
@yoannmoinet I just found out that a touchend event doesn't get called in iOS when you leave the screen over the statusbar. Therefore the pageY value of the touchmove event is going negative. I found the solution over here: https://stackoverflow.com/a/37434902/1754625

[2019-10-31 08:27] wxchenxueqi commented on #122
ios 13.2 can run correctly now.

[2019-10-31 10:19] Aayush022 opened #125 "joystick becomes very hard to move & automatically moves to the left of the screen [BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots, Codepen or JSFiddle**
If applicable, add screenshots, codepen or jsfiddle to help explain your proble

[2019-11-06 15:09] igabesz commented on #116
@yoannmoinet Scroll down in the codepen demo. It works well if everything is at its original position, however, if you scroll a bit down on the page then the center of the scroll detection won't move with the page, but the circles will.

![image](https://user-images.githubusercontent.com/3373181/68310123-c4d82d80-00af-11ea-9c25-1f884fddc50f.png)

[2019-11-06 15:14] igabesz commented on #116
Update: a page resize solves the joystick positioning, the center will be the proper center. Another scroll breaks it again.

[2019-11-06 15:25] igabesz commented on #116
Another way to reproduce: it's the demo on the home page. If you add these CSS properties then it breaks the positioning.
![image](https://user-images.githubusercontent.com/3373181/68311276-9bb89c80-00b1-11ea-97d5-b2b5218083de.png)

[2019-12-03 02:30] unitree-czk opened #126 "IOS Failure for new devices"
**Describe the bug**
A clear and concise description of what the bug is.
For 0.7.3, my iPhone works properly for test/index2.html,
For the latest version, the nipples are frozen on my iPhone's safari explorer and chrome explorer. example/dual-joysticks.html
**The weird part is that on my mac both safari and chrome works properly.**
I guess that there might be some issues with the event binding, bu

[2019-12-03 07:27] unitree-czk commented on #126
`   if (!u.isPressed(evt)) {
        this.processOnEnd(evt);
        return;
   }`

[2019-12-03 07:28] unitree-czk commented on #126
I have done a deep analysis, and found out that if I comment out this line in the Collection.js, then IOS works properly.

[2019-12-03 07:30] unitree-czk commented on #126
I am pretty sure that this line is crucial.

[2019-12-03 07:58] unitree-czk commented on #126
I compared ios vs android.
it seems that the For android phone
evt.buttons = 1
while for ios
evt.buttons = 0

[2019-12-03 10:57] yoannmoinet commented on #125
Please follow the issue template.

[2019-12-03 10:57] #125 closed

[2020-01-06 19:01] rowlowles opened #128 "[FEAT] Reset the Joystick Position On Some Condition"
**Is your feature request related to a problem? Please describe.**
I have a joystick in my app which is used to move a system. We found a bug similar to [109](https://github.com/yoannmoinet/nipplejs/issues/109), where if the app was in windowed mode as opposed to full screen, the joystick could become stuck. This appears to occur if you dragged your mouse off the window and right clicked, or (if u

[2020-01-07 20:26] hagopmanougian opened #129 "Conflict with jQuery PEP on IPAD"
Bug Description
Nothing happens when I touch the nipples on IPAD using Safari. No error is produced Otherwise everything works fine on desktops & Android mobiles

**To Reproduce**
I have a 3D web site which runs BABYLON.js on a canvas. We use touch capturing PEP polyfill library
After lot of troubleshooting I found out the problem lies with a conflict with PEP polyfill (https://github.com/jquery/P

[2020-01-08 17:12] rowlowles opened #130 "[BUG]Joystick Becomes Stuck at Maximum Extents When Right Clicking Outside Document"
**Describe the bug**
The joystick can become stuck if you right click outside your document.

**To Reproduce**
Reproduced using the [demo provided](https://yoannmoi.net/nipplejs/#demo).
1. Go to https://codepen.io/YoannM/pen/gapmMG (Easiest to reproduce if this is a windowed browser)
2. Click anywhere on the demo to create the joystick
3. Drag your mouse outside the bounds of the browser and right

[2020-01-12 12:17] MuhammadAqib1122 opened #131 "Unlimited travel distance of Joystick"
Hi

Is there any way i can get unlimited travel distance or increase the travel distance of joystick?

[2020-03-03 11:29] bolollo opened #133 "Set the initial position of the front element [FEAT]"
I need to pass the initial position of the joystick front as a parameter

Add the frontPosition to the options when create the nipple

[2020-03-06 20:03] wentzlau opened #135 "Snap to center[FEAT]"
I would like to be able to set a zone in the center of the joystick where it snaps to (0, 0) when the button is inside the zone. It should fire an event when snapping occurs.

When moving from the center the joystick should first fire "move events" when outside the zone.

Maybe it should be two different settings.

[2020-03-13 09:04] chugoh opened #136 "[Looking for help] Error on ANGULAR / IONIC 4"
Hi I was trying to follow your example on using nipple on ANGULAR / IONIC 4

- ERROR in src/app/tab1/tab1.page.ts(5,8): error TS1192: Module '"/Users/hammerchu/node_modules/nipplejs/types/index"' has no default export.
I tried to do import * as nipplejs from 'nipples' but its gave me some other errors

- ERROR in src/app/tab1/tab1.page.ts(67,14): error TS2339: Property 'on' does not exist on type

[2020-03-19 07:37] darkworks opened #138 "[FEAT] Pre build of nipplejs ?"
**Is your feature request related to a problem? Please describe.**

ya am not able to find build min js file of nipplejs , i downloaded v8.0 from release section but its strange no build file in it

**Describe the solution you'd like**
please add dist folder where builds are stored so that everyone can get builds directly instead of going through long process of compiling on local machine by insta

[2020-03-19 11:09] yoannmoinet commented on #138
This is not a feature request.
Build files are already in there thanks to [this](https://github.com/yoannmoinet/nipplejs/blob/master/package.json#L15) and [this](https://github.com/yoannmoinet/nipplejs/blob/master/package.json#L31).

[2020-03-19 11:09] #138 closed

[2020-03-19 11:10] yoannmoinet commented on #136
You should look for help on stackoverflow.
I don't think this is an issue with the library.

[2020-03-19 11:10] #136 closed

[2020-03-19 11:11] yoannmoinet commented on #131
Please use the issue templates.
Is this a feature request or an issue with the library?

[2020-03-19 11:11] #131 closed

[2020-03-19 16:52] darkworks opened #139 "[BUG] joystick locked on Y returning wrong angle"
**Describe the bug**
i noticed the bug that when we lock the joystick on Y axis it still return angle so i think it will be good if it not return angle from x  axis when its locked on Y.

**To Reproduce**
Steps to reproduce the behavior:
1. download : https://github.com/yoannmoinet/nipplejs/blob/master/example/dual-joysticks.html
2. Lock the 2nd joystick on Y
3. move the mouse towards X axis
4. yo

[2020-05-02 18:13] jharris1993 commented on #125
This is not necessarily a bug in nipple.js. . .

You need to look at the code **_using_** nipple.js and see how it reacts to, and uses, the "force" returned by nipple.

For example, using the Remote Camera Robot script on the GoPiGo robot, the "determined speed" is calculated by _**adding**_ "force" to the other parts of the equation for "determined speed", where these other constants are non-zero

[2020-07-02 13:47] Shanmax1996 opened #142 "Update Lock Feature"
Can you update lock feature  as

Lock upper half  &
Lock lower half

with lock x and lock y

Thank you

[2020-07-13 07:02] Auxinnn opened #144 "Sending data while mouse not moving"
Hi, I was using the nipplejs to implement a robot controller. How should I send the data when the joystick is moved and held. It seems only 'move' event is available. Appreciate the help, thanks.

[2020-07-14 10:00] slmholder opened #145 "[BUG] Under the full screen, the virtual joystick partially fails"
const managerDirection = nipplejs.create({
      zone: this.direction,
      mode: 'static',
      position: { left: '50%', top: '50%' },
      color: 'white',
    })
    managerDirection.on('end', (evt, data) => {
      this.props.moveEnd()
    })
    managerDirection.on('move', (evt, data) => {
      if (!data.direction) return
      let speed
      switch (data.direction.angle) {
        case '

[2020-07-25 20:11] captsisko commented on #21
Hi @yoannmoinet.
Very fine work on NippleJS and I appreciate you making it available to all.

But, how can it be integrated into an AngularJS project? Are there prescribed steps a beginner in Angular and NippleJS can follow?

I provided the following in _app.module.ts_: **import { JoystickManager } from 'nipplejs';**

**imports: [
    BrowserModule,
    AppRoutingModule,
    ReactiveFormsModule,

[2020-07-25 20:29] clark-stevenson commented on #21
@captsisko I don't think this is an Angular library.

It doesn't belong in the imports or modules, but directly in your components.

You did the right thing, bring it into your individual component where you want to use it.

[code]

[code]

[2020-07-25 23:00] captsisko commented on #21
I appreciate the input, Clark.

You are right. NippleJS is not built for Angular. I have found a wrapper
for nipple called ngx-joystick which does the trick.

On Sat, 25 Jul 2020 at 21:30, Clark Stevenson <notifications@github.com>
wrote:

--
Jesus loves you too!

[2020-08-01 01:56] a1xon opened #148 "[FEAT] Vue /Nuxt integration example?"
It would be very helpful to see an example where this library is integrated in a vue/nuxt enviroment.

[2020-08-01 02:42] a1xon commented on #148
I ended up injecting the nipple.min.js file via plugins
It works but I'm not sure if this is the way to go :\

[2020-08-05 03:31] mtpiercey commented on #148
I'm using it with Quasar something like this: (in SPA mode; with Nuxt in Universal mode you'd have to wrap the `mounted` in a
[code]
block, but the same setup should work without plugins (although plugins work well too; it's really all a matter of whether you want the component to be global or not):

[code]

[2020-09-06 21:54] yoannmoinet commented on #104
Fixed in #107

[2020-09-06 21:54] #104 closed

[2020-09-06 21:55] yoannmoinet commented on #144
Try your luck on Stack Overflow.

[2020-09-06 21:55] #144 closed

[2020-09-18 13:17] darkworks opened #150 "[FEAT] Add build file to release section"
Please add build file of nipple js to release section or even to source code add dist folder where there is clean build file like : https://yoannmoi.net/nipplejs/javascripts/nipplejs.js

however this one : https://yoannmoi.net/nipplejs/javascripts/nipplejs.js   seems to old version missing the recent features

[2020-09-18 13:59] yoannmoinet commented on #150
Why?

If you install it with a package manager, it gets built.
If you clone it, you can build it yourself.

This is more hassle for nothing.

[2020-09-18 13:59] #150 closed

[2020-09-20 14:49] yoannmoinet commented on #150
https://cdnjs.com/libraries/nipplejs

[2020-09-21 07:49] yoannmoinet commented on #150
Here's a PR that should fix the auto-update of cdnjs.
https://github.com/cdnjs/packages/pull/447

[2020-09-22 15:46] fedemarino31 commented on #130
The same happens on mobile when you pull down the iOS menu or switch to other app. The joystick stays blocked
I was able to fix it with a patch.
I listen to the "touchcancel" event on the document body and I re-setup the joysticks
But probably, in nipplejs source code, the event.end should be triggered on touchcancel

[2020-09-29 04:51] caiiiycuk opened #151 "[BUG]"
Hi.

**Describe the bug**
Dynamic joysticks freeze at some time if you interact fastly. This bug reproduced on nipple js website.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://yoannmoi.net/nipplejs/
2. Fast interact with in dynamic mode
3. You should see some joysticks that are in freeze

**Expected behavior**
Joysticks should not freeze

**Screenshots, Codepen or JSFiddle**

[2020-09-29 08:19] caiiiycuk commented on #151
I found that problem is exactly same as in https://github.com/yoannmoinet/nipplejs/issues/94. But for pointer events. Affected devices sometime does not send `pointerremove` event. But seems that workaround as for touch events is not possible because we can't get ids of current pointers.

As workaround I switched to "touch" mode for default:
[code]

This helps. I think it could be good if this ord

[2020-10-05 06:16] caiiiycuk commented on #151
I found that pointer events works much better then touch events. I added partial workaround for single touch mode it works fine in my case. Please look PR.

[2020-10-08 10:44] cazhjo commented on #53
overriding the size by using scale works for me
[code]

[2020-11-16 15:04] jeryini commented on #116
Hello @igabesz!

I managed to come across the same bug on the WebApp I'm working on. I also noticed that any kind of page resize fixes it. Did you maybe found a temporary fix?

[2020-11-16 15:12] jeryini commented on #116
Actually this solution worked for me https://github.com/yoannmoinet/nipplejs/issues/39#issuecomment-401884728

[2020-11-25 02:53] br-matt commented on #129
Seeing this as well, iphone/safari and android/chrome are fine but ipad safari is not responding. No errors in the console.

[2020-12-23 22:12] Niksac opened #155 "[BUG] Nipple position offset based on page layout"
**Problem**
Depending on the page structure, the joystick has an offset.

**Codepen**
https://codepen.io/niksac/pen/jOMGQbp
The nipple seems to be offset by the height of the ".someBox"element.

**Affected browsers**
I tested desktop chrome and firefox as well as mobile safari and chrome.

**Additional information**
Using `dynamicPage` will lead to a correctly positioned inner circle.

[2020-12-28 07:39] mhassanrahman opened #156 "If you make the body zoom to 0.7, joystick sticks to upper left corner only [BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the zoom:0.7 in body tag of styles.css

**Desktop (please complete the following information):**
 - Browser [e.g. chrome]

[2020-12-30 01:04] ViniDalvino opened #157 "How can I use the lib with react?"
I used the dynamic page option in my jsx and it didn't worked so what I nedd to do?

[2020-12-30 13:16] yoannmoinet commented on #157
You can use https://github.com/loopmode/react-nipple

[2020-12-30 13:16] #157 closed

[2020-12-31 15:07] Klaslas opened #158 "[BUG] Simultaneous use of two joysticks in static mode leads to freezing of one joystick (on Android)"
**Problem**
When using two joysticks at the same time in static mode, the first one used freezes, so only one joystick can be used at a time.
On iOS-devices, everything works smoothly, even regardless of the browser used (Firefox, Safari or Chrome).

**Smartphone:**
 - Device: any Android-device
 - Browser:
     1. In Chrome (version: 87), neither stick can be moved.
     2. In Firefox (version: 8

[2021-01-09 21:31] #158 closed

[2021-01-25 21:55] dudleyjosh opened #159 "Visual Format to Indicate locked in x or y [FEAT]"
When the restriction to x (horizontal) or y (vertical) only is selected, it would be slick if the width or height properties could be reduced to visually reflect the type of movement available for the joystick... something like the image below perhaps?

![Screen Shot 2021-01-25 at 10 09 32](https://user-images.githubusercontent.com/593535/105770859-c187c680-5f2d-11eb-883f-314b9e5fffe6.png)

Additi

[2021-02-16 10:37] emepetres commented on #13
Hi @yoannmoinet , is this implemented?

[2021-02-16 11:07] yoannmoinet commented on #13
No it's not.

I don't think this is needed or required by anyone after all.
Never saw any joystick implement this feature.

Do you need it? What would be your use-case?

[2021-02-16 15:56] emepetres commented on #13
Thanks @yoannmoinet , what I'm trying to achieve, that I think would improve the user experience, is the following:

Lets say the user takes the joystick and goes up surpassing the threshold with its finger because it wants go up very fast. Then, it want to decrease the velocity a little bit, and moves the finger slowly down but, as the finger is already out of the threshold, it is not going to do

[2021-02-23 22:00] matthewrobb commented on #13
Working on this myself currently. A good example of this type of feature can be found in the mobile game Brawl Stars. I saw a WIP implementation [here](https://github.com/yoannmoinet/nipplejs/compare/features/follow), any interest in this picking back up?

[2021-02-23 23:00] yoannmoinet commented on #13
It is being implemented in https://github.com/yoannmoinet/nipplejs/pull/160
And it looks promising, very close to be shipped.

[2021-02-24 15:31] yoannmoinet commented on #155
As stated in the documentation, your container div MUST have a `position` value.
If you add `position: relative` to your `.controllerArea` it's fixed.

[2021-02-24 15:31] #155 closed

[2021-02-24 15:34] yoannmoinet commented on #156
We don't support the `zoom` property.

[2021-02-24 15:34] #156 closed

[2021-03-21 03:39] oliverlife commented on #113
I encounter the problem in IOS, too.
The reason is Manager.prototype.unbindDocument is not passing the condition about !Object.keys(self.ids).length.

During Using joystick,
1. Manager.prototype.removeIdentifier Call count is Equal Manager.prototype. getIdentifier Call count
2.Manager.prototype.unbindDocument Call count is Equal Manager.prototype.bindDocument Call count
that's all right.
But when

[2021-03-21 03:41] oliverlife commented on #113
what's fix plan of the bug?

[2021-06-30 07:13] Snow233 opened #164 "[BUG] different "https://yoannmoi.net/nipplejs/javascripts/nipplejs.js" with "import nipplejs from 'nipplejs'""
"https://yoannmoi.net/nipplejs/javascripts/nipplejs.js" can work but "import nipplejs from 'nipplejs'" not work, "import nipplejs from 'nipplejs'" this way not touch "move" event

[2021-06-30 10:13] yoannmoinet commented on #164
This isn't a bug.
You should follow the issue template.
Please use Stack Overflow for these.

[2021-06-30 10:13] #164 closed

[2021-07-05 17:13] vin-ni opened #165 "[BUG] Vue/Nuxt getting "Reference Error" on 0.9.0"
**Describe the bug**
I didn't dig deeper yet, but while importing `import nipplejs from 'nipplejs'` the latest version 0.9.0, I get a `Reference Error` in nuxt. Actually the whole build freezes and doesn't even export a fail message.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a nuxt environment
2. `import nipplejs from 'nipplejs'`
3. Reload

**Expected behavior**
nipplejs doesn't

[2021-07-05 17:20] vin-ni commented on #165
Actually I also get it on 0.8.7
![Screenshot 2021-07-05 at 19 19 23](https://user-images.githubusercontent.com/9806572/124503499-fe51c680-ddc5-11eb-84b8-70bc8d554e7c.png)

[2021-07-05 17:21] vin-ni commented on #165
Getting closer, it seems to be a `window is not defined` issue.
![Screenshot 2021-07-05 at 19 21 28](https://user-images.githubusercontent.com/9806572/124503633-4244cb80-ddc6-11eb-977f-084f39bbbf3f.png)

[2021-07-05 18:06] vin-ni commented on #165
I'm injecting it globally via `nuxt.config.js` for now:
[code]

[2021-07-27 18:10] DominicChm commented on #54
I also needed this functionality, so I came up with a monkey patch to get it done. Since this is the first thing that shows up in Google, I'll put it here.
[code]

The new event contains a `normalized` field that contains x and y ranges from -1 to 1, which will probably be most useful.

[2021-09-23 15:07] lucaheuser opened #166 "[FEAT] Dynamically changing the Position and Size of a fixed Joystick"
Hello,

is it possible to change the size and position of the joysticks after the initialization? I would like to give the user of my web application the possibility to change the position and size dynamically.

I use Vue.js and unfortunately it does not work via conditional rendering.

Thanks a lot

For context:
I use two joysticks, one for movement on the left side and one for rotation on the ri

[2021-09-24 11:06] funwithtriangles commented on #54
You can use trigonometry to work this out using the angle and distance, which is provided as data:

[code]

[2021-09-28 10:36] Liron-Toledo opened #167 "Update and Refresh Nipple Options"
Hi there, love your library! Forgive me if Im being stupid but I wanted to ask if there was a quick way to update nipple options for an existing nipple. I have a case where I want to set lockX option to true or false based on a user input. Would really appreciate any help you can give me. Thanks!

[2021-09-29 14:29] jstiefel opened #168 "[BUG] High CPU load"
**Describe the bug**
I'm having a very high CPU load when moving the joystick around. On a high level CPU, this works fine, but in my customer's browsers, the website starts to freeze. The joystick gets stuck for some seconds, other indicators updated over a websocket have a delay of several seconds. I can also simulate it by using CPU throttling when collecting Performance metrics in Chrome.

I f

[2021-09-30 08:58] yoannmoinet commented on #168
Hey, thanks for the detailed report 🙇
I'm not sure this is actually coming from the library.

Can you try and comment these lines from your event handler and confirm that it's still struggling :
[code]

I can't tell what's happening in the `publish` function here, and it could be very heavy.

Anyway, removed the `bug` label, as it's not determined yet.

[2021-10-05 11:57] jstiefel commented on #168
I think it comes from the "end" event listener. If I output console log on the end event, I get hundreds of log messages and further processing is blocked until all these events are handled. I removed all the other functions to test.

[code]

I'm still wondering if there is something limiting the `addEventListener()`. I'm pretty sure that this operation is faster than the handling if a task is for

[2021-11-16 04:26] FuwenChen opened #169 "The “move”and “end”events cannot be triggered during the first initialization"
**Describe the bug**
In a mobile device, when I touch it for the first time, I can only trigger the start event, not the move and end events. After the second time, start, move and end events can be triggered normally

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the page for the first time to initialize nipple
2. Touch and slide the nipple
3. Only the "start" event is triggered
4. W

[2021-11-18 12:22] Joker-pyc opened #170 "How to use this joystick with three js 3d object"
I found nipple js but I don't know how to connect the joystick with a 3d object in three js please help

[2021-11-18 16:27] yoannmoinet commented on #170
This is used to log bugs and feature requests.
Please follow the templates.
Cheers.

[2021-12-14 00:58] ChocolateLoverRaj opened #171 "[FEAT] Only count touches when joystick is pressed down"
**Is your feature request related to a problem? Please describe.**
I like the `follow` option, how the joystick can be dragged anywhere in the `zone`. I don't want the joystick to be controlled when `mousedown` happens somewhere else in the `zone` besides the joystick.

**Describe the solution you'd like**
Maybe an option like `touchAnywhere` which I can set to false.

**Describe alternatives you'

[2021-12-14 02:32] ChocolateLoverRaj opened #172 "[FEAT] Disable joystick movement"
**Is your feature request related to a problem? Please describe.**
I'm making a game with a joystick. I'm making the position of the joystick customizable. When moving the position of the joystick, I want to just show the joystick component, but not actually let the joystick move.

**Describe the solution you'd like**
Maybe `manager.disabled = true` or have an option called `disabled` when creatin

[2021-12-22 19:18] SmileyJames opened #173 "Option for Touch / mobile only - ignore desktop mouse events"
**Is your feature request related to a problem? Please describe.**
For mobile touch devices nipple js is the perfect fit for controlling movement and view direction in my first-person game. But on desktop WASD and pointer lock mouse movement is more appropriate. Nipple.js is getting in the way for desktop users, and detecting if a device is mobile or desktop (to turn off nipple js) is difficult an

[2021-12-23 10:50] yoannmoinet commented on #173
I don't think this needs to be done from within the library.

If you don't want the joystick on desktop, simply don't instantiate the lib when on desktop.

[2021-12-23 10:50] #173 closed

[2021-12-23 13:46] SmileyJames commented on #173
But detecting if a browser is desktop or mobile is discouraged and difficult. However only responding to touch events not mouse events is simple. This article explains further the trouble with desktop detection: https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent

[2021-12-23 14:31] yoannmoinet commented on #173
This lib isn't aimed to detect wether the user is on desktop or mobile.
So the logic for it will remain on your side.

[2022-01-14 16:05] vin-ni commented on #148
What you can also do:
Add it as a plugin:
[code]

And then import it in your nuxt.config.js like so:
[code]

More info here: https://stackoverflow.com/questions/54979644/window-is-not-defined-in-nuxt-js

[2022-01-29 11:18] ltsfwrs opened #174 "Joystick is frozen in Safari and Chrome on iOS 15.3 but not in Firefox [BUG]"
Unable to move the joystick on iOS 15.3. The only browser that works is Firefox. The same site worked a month ago. The ones on the demo page still work.

[2022-01-30 09:41] #174 closed

[2022-02-11 09:24] EditedCocktail opened #175 "joystick with other elements"
When joystick touched, touch events on other elements dont work.

**To Reproduce**
1. Add joystick
2. Add button
3. Press joystick on mobile
4. Press button while holding joystick
5. Ontouch button event wont work

**Smartphone**
 - Device: Samsung Galaxy A51
 - OS: Android 11
 - Browser: Chrome
 - Version: last

[2022-03-18 00:31] stoddabr opened #181 "[BUG] Joystick not appearing in correct location when used in the svelte framework"
**Describe the bug**
When nipplejs is used in svelte, the joystick does not appear in the correct div "zone". Instead is appears on the top left of the page.

**To Reproduce**
1. create a svelte project
2. import nipplejs into svelte
3. add a div inside of the page
4. attempt to attach the "zone" using `bind:this` on the desired svelte component within onMount

**Expected behavior**
I would expect

[2022-03-18 01:09] stoddabr commented on #181
I found a resolution by calculating the bounding box of the parent.
This was done by changing lines ~125-130 of collection.js in function `createNipple `:
[code]

Before I go through the effort of making a pull request, I just want to check in with people who know this project better than me to make sure this is a sensible solution that won't cause weird edgecases. I don't really understand the ex

[2022-03-18 08:14] yoannmoinet commented on #181
Thanks for the details and the repro!
The issue with your solution is that we're computing and using parent's position twice (see `parentRect.top` and `self.box.top`).

I think everything resides on how the position of the zone is computed by the browser, due to `display: flex`.
Basically, if you removes the `+ self.box.top` and `+ self.box.left` from the initial code, you'd fix the issue in your

[2022-03-18 08:40] yoannmoinet commented on #181
Create https://github.com/yoannmoinet/nipplejs/pull/182, let me know if that fixes your issue.

[2022-03-26 09:53] #181 closed

[2022-03-26 10:00] yoannmoinet commented on #181
Released in v0.9.1

[2022-04-19 16:17] wvddrss opened #185 "iOS safari shows zoom on longpress, is it possible to fix?"
On iOS when I press long on the joystick, I get built-in zoom view.
I don't know if this possbile to fix, after some googling tried
* { user-select: none }

But didnt work

**Screenshots, Codepen or JSFiddle**
![IMG_1358](https://user-images.githubusercontent.com/2890010/164049005-92d5f203-f444-42f5-80e2-b70edc44bef1.jpg)

**Smartphone (please complete the following information):**
 - Device: ipho

[2022-05-08 12:44] MCArth commented on #168
I've experienced something similar where the joystick freezes, and I don't think it was my event handler taking too long - it occurred when my game was running at very low fps

Nipplejs is very good in terms of feature-set but upon profiling it seems there are other performance issues when I profile - e.g. taking 2-3ms because of what seems like reading a dom style after writing to the dom (forcin

[2022-05-08 13:03] MCArth commented on #168
this happens on 0.9.1: see the long handler (as well as the style recalculation/layout which costs another 2ms later on) I think the style recalculation/layout can be avoided using transform: translate instead of modifying top/etc

![image](https://user-images.githubusercontent.com/26874892/167297403-74da3a52-a42d-4e7e-a006-4852900d1d4c.png)

[2022-05-11 09:27] jbshin-gemiso commented on #64
I worked well in dynamic mode, but in static mode, the joystick did not respond or the app crashed.

But it was solved this way. thank you !!
I hope others will try it when they encounter problems in static mode.

[2022-05-14 16:42] Levsha128 commented on #159
Yep, that would be nice.

[2022-05-29 10:16] dataexcess commented on #165
Hello!

Does that make it work? I copied your script import and put it in my nuxt config but I still have the freezing build issue.

Then I found this vue wrapper. https://www.npmjs.com/package/vue-nipple .
I Made a file in my nuxt /plugins folder called nipple.js
in which I put the following code:

[code]

and in my nuxt.config:

[code]

but then when I use a <Nipple/> component in my code it sim

[2022-05-29 10:30] dataexcess commented on #165
EDIT: I'm stupid I was using the wrong component name in my code XD

Vue.component('Nipple', Nipple);

fixed it.

[2022-05-29 11:35] lancety commented on #175
I guess your button is using onClick event.  instead click, try onPointerDown onPointerUp.
I have same issue, onCLick wont trigger if a stick is active, but pointer events are working, btw, my ui component is based on react.

[2022-06-09 19:40] kevinhaeger opened #189 "[BUG] Cant use both joysticks simultaneously"
**Describe the bug**
Moved from Surface Go tablet to Dell 7320 and now cannot use both joysticks simultaneously (one is simply not draggable when the other is already engaged). Both tablets are running Ubuntu.

**To Reproduce**
1. Create two joysticks, run on Dell 7320 tablet
2. engage one joystick
3. try to engage other joystick
4. See error

**Expected behavior**
Both joysticks should be simulta

[2022-06-22 10:40] Txori opened #190 "Controlling Flash with nipple on touchscreen, what about buttons?"
Hello, I'm currently toying the nipple in order to control Flash content in the Ruffle emulator on touchscreen devices:
https://www.txori.com/stuff/ruffle/nipplejs.php

![nipplejs](https://user-images.githubusercontent.com/3765943/175009922-2e40ec01-febd-4c75-8b80-353ecc452e58.png)

I was wondering if nipples could be use as buttons too, or if not, if you had plan to add buttons?

Thanks

[2022-06-22 17:08] Txori commented on #190
So I programmed my own buttons, thanks to [this useful hint](https://github.com/yoannmoinet/nipplejs/issues/175#issuecomment-1140429879).
Now I'm trying to use a static nipple instead. It's there, working, but not throwing any events...
I just got from this:

[code]

to that:

[code]
What am I missing?

[2022-06-22 17:10] Txori opened #191 "catchDistance for static nipple[FEAT]"
It would be nice if the catchDistance property would also work with a static nipple. This way, clicking the other side of the screen wouldn't activate the nipple.

[2022-06-22 18:21] Txori commented on #191
Something like adding:

`if (opts.mode === 'static' && dist > opts.catchDistance) return;`

just before:

[code]

is working nicely.

[2022-06-23 15:58] Txori commented on #190
I made a very simple test, and everything is working but the static nipple:

[code]

I really don't know what's going on with it...
It is available here:
https://www.txori.com/stuff/ruffle/simplenipple.php

[2022-06-27 22:56] Txori opened #192 "How to get 8 directions?"
Did anyone manage to get 8 directions from the data sent per the nipple?
I tried using dir: and plain: without success.
I almost get something working with:

[code]

But it only works if one release the nipple between two angles, even if deg gets updated...

[2022-06-28 07:55] yoannmoinet commented on #192
I don't think this is a bug.
Can you share more of your code?
What didn't work with `dir:` and `plain:`?
What did you try?

[2022-06-28 08:30] Txori commented on #192
All right, after a good night of sleep, I managed to make my previous 8 dir handler to work. I simply had to reset before using it:
[code]

When it comes to the dir: / plain:, I tried something like this:
[code]

But that surely a mess. Javascript isn't my thing, so I don't really know how to retrieve the evt.type without a plain string test. So I can't use plain and dir at the same time.

[2022-06-28 12:54] yoannmoinet commented on #192
Ok, this is definitely not a bug.
I think you should try to get help on stack overflow for this kind of problem.

[2022-06-28 12:54] #192 closed

[2022-06-28 12:55] #190 closed

[2022-06-28 12:57] yoannmoinet commented on #191
Can you follow the template please?
Feel free to re-open once the description has been updated following the template.

[2022-07-09 09:56] patrickcorrigan commented on #151
Did this get merged in?

[2022-11-21 15:33] MarcMenghin opened #201 "[BUG] dataOnly will create an exception in move event creation"
**Describe the bug**
Errors are thrown from move event when dataOnly is set to true.

**To Reproduce**
sample code: https://gist.github.com/MarcMenghin/a20f59370d66f30a97510f30b0fd4c2f

**Expected behavior**
move events are fired just like if dataOnly is set to false.

**Desktop (please complete the following information):**
 - OS: [windows, linux]
 - Browser [firefox, chrome]
 - Version [ff-107,

[2022-11-23 05:09] rhenaldkarrel commented on #30
Hello, I reproduce the same issue now in my app. Would you please tell the exact code for how to fix this? I am using react and here is my code
[code]

[2022-11-23 05:41] rhenaldkarrel commented on #30
Sorry, I just understand what you mean and have resolved this. Just in case, my solution was like this more or less:

[code]

[2022-11-26 19:32] MarcMenghin commented on #201
My current workaround is to forcefully hide the generated UI with CSS.